<br>
<br>
<br>
<br>

<div class="row col-md-12">


  <div class="col md-4 mt-1 ">

    <div class="card text-white bg-dark  font-weight-bold text-center list-group">

      <a class="list-group-item list-group-item-action" [routerLink]="['./']" style="font-size:25px;"> <img class="icon-nav"
          src="./../../../assets/icons/cursos.svg">MENÚ</a>

      <a class="list-group-item list-group-item-action  text-left" [routerLink]="['./cursos']" style="font-size:20px;"> <img
          class="icon-nav" src="./../../../assets/icons/cursos.svg"> Cursos</a>
      <a class="list-group-item list-group-item-action  text-left" [routerLink]="['./usuarios']"
        style="font-size:20px;"> <img class="icon-nav" src="./../../../assets/icons/usuarios.svg"> Usuarios</a>
      <a class="list-group-item list-group-item-action  text-left" [routerLink]="['./pagos']" style="font-size:20px;"> <img
          class="icon-nav" src="./../../../assets/icons/pagos.svg"> Pagos</a>
      <a class="list-group-item list-group-item-action  text-left" [routerLink]="['./estadisticas']" style="font-size:20px;"> <img
          class="icon-nav" src="./../../../assets/icons/estadisticas.svg"> Estadísticas</a>

    </div>

  </div>

  <div class="col-md-8 ">
      <router-outlet></router-outlet>
  </div>
</div>
<br>