<br>
<br>
<br>
<br>

<div class="row col-md-12">
  <div class="col-md-3 mt-1 ">
    <div class="card font-weight-bold text-center list-group">
      <a class="list-group-item list-group-item-action btn-warning btn btn-block mat-elevation-z8"
        style="font-size:25px;" [routerLink]="['./']" style="font-size:25px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/menu_admin.svg">MENÚ</a>

      <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
        style="font-size:20px;" [routerLink]="['./cursos']" style="font-size:20px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/cursos.svg">Cursos</a>
      <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
        style="font-size:20px;" [routerLink]="['./usuarios']" style="font-size:20px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/usuarios.svg">Usuarios</a>
      <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
        style="font-size:20px;" [routerLink]="['./pagos']" style="font-size:20px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/pagos.svg">Pagos</a>
      <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
        style="font-size:20px;" [routerLink]="['./estadisticas']" style="font-size:20px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/estadisticas.svg">Estadísticas</a>
    </div>
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
<br>