/* You can add global styles to this file, and also import other style files */
.icon-nav{
    width: 50px
}

.icon-nav-home{
    width: 80px
}

.vertical-center{
    margin-top: auto;
    margin-bottom: auto;
}