/* You can add global styles to this file, and also import other style files */
.icon-nav {
  width: 30px
}

.icon-nav-home {
  width: 40px
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.field-login {
    width: 100%;
}

.ventana-modal{
  overflow-y: scroll;
}

.aling-izq {
  padding-left: 8rem !important;
}

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 478px; 
}

.field-login2 {
  height: 100%;
}

.icon-opcion {
  width: 20px
}

.tamañoletra{
  font-size: 0.9rem
}

.icon-nav-grande{
  width: 40px
}

.icon-nav-chico{
  width: 20px
}

.salto_pag{
  line-height:20px;
  font-size: 14px
}

.img-posicion{
  z-index: 3;
}

.fondo-navbar{
  background-color: #eceff1!important;
}

.acordeon-enc{
  background-color: #d8af54
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.paqueteshome{
  background-color: #007791;
}

.fondoadmin{
  background-color: #007791;
  color: #eceff1;
}