<div class="col-md-12 p-0">
  <br><br><br><br>
  <div class="row pl-5">
    <label class="h1 letracursotitulo mb-0"><b> Coreano Nivel II </b></label>
  </div>
  <mat-divider></mat-divider>
  <div class="row pl-3">
    <!--div video-->
    <div class="col-md-8 mt-3 pl-3 mx-4">
      <div class="embed-responsive embed-responsive-16by9 z-depth-1" autoplay loop controls>
        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/353296548" allowfullscreen></iframe>
      </div>
      <!--div descripcion-->
      <div class="row">
        <div class="col-md-12 p-3 mr-4 ">
          <h4><b>Descripción</b></h4>
          <p class="text-center mb-0">
            👩🏼‍🎓Cada nivel tiene una duración de 10 semanas
            🎓Son 8 niveles para adquirir un nivel profesional
            🌎Y a partir de 4 puedes realizar la certificación internacional
            👥Grupos reducidos mínimo 5 máximo 16 estudiantes
            🇩🇪HORARIOS ALEMÁN | 1 GRUPO
            ⏰MARTES Y JUEVES 6-8pm Inicio 27 Agosto
            👩🏻‍🏫Maestros Lic en Lingüística Aplicada y Comercio Internacional
            📍Inscripciones e información en Insurgentes #88 entre Puebla yVeracruz
          </p>
        </div>
        <!--ranking star-->
        <div class="col-md-6 pt-0">
          <h4 class="letrastar mb-0">Valoraciones:</h4>
          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
        </div>
        <!--Alumnos totales-->
        <div class="col-md-6 text-right pt-3">
          <img class="icon-nav" src="./../../../assets/icons/alumnos.svg">
          <label for="">32 Alumnos</label>
        </div>
        <!--Objetivos-->
        <div class="col-md-12 p-2">
          <div class="card">
            <div class="card-header">
              ¿Qué aprenderé?
            </div>
            <div class="card-body">
              <li class="card-title">Special title treatment</li>
              </div>
          </div>
        </div>

      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <!--div inf precios-->
    <div class="col-md-3 yellow text-center ml-4 mt-3 pt-4 py-4 redondear">
      <ul class="list-group">
        <li class="list-group-item heading">
          <img class="imgsale align-rigth" src="./../../../assets/icons/sale.svg" />
          <h1 class="letracursotitulo"> <b>$240</b></h1>
        </li>
        <li class="list-group-item plan-action"> <button class="btn-lg letrabtnlg p-2" mat-raised-button color="warn">
            ¡Comprar Ahora!
          </button></li>
        <li class="list-group-item plan-action"> <button class="btn-lg" mat-raised-button color="primary"><i
              class="fas fa-cart-plus"></i></button></li>
        <li class="list-group-item list-group-item-secondary"><span><b>Este Curso Contiene:</b></span></li>
        <li class="list-group-item letralist"><span>8 Gb Dadicated Ram</span></li>
        <li class="list-group-item letralist"><span>Unlimited Addon Domain</span></li>
        <li class="list-group-item letralist"><span>Unlimited Email Account</span></li>
      </ul>
    </div>
  </div>


  <div class="row pl-5">

  </div>

  <br>
</div>