<div class="col-md-12 px-0">
  <br>
  <br>
  <br>
  <br>
  <!--titulo-->
  <div class="col-md-12 px-0 paqueteshome">
    <div class="container">
      <h2 class="letrablanca"><b>José Antonio Rodriguez Hernandez</b></h2>
      <h5 class="letracursotitulo">Estudiante de Ingeniería en Sistemas Computacionales</h5>
    </div>
  </div>
  <br>
  <br>
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="height: 25rem;">
            <div class="imgLiquidFill imgLiquid card-img-top" style="width:255px; height:250px;">
              <img src="http://www.lorempixel.com/400/350" alt="..." width="255" height="250">
            </div>
            <div class="card-body pt-5">
              <div class="row">
                <div class="col">
                  <a href="#">
                    <img class="icon-nav" src="./../../../assets/icons/fb.svg">
                  </a>
                </div>
                <div class="col">
                  <a href="#">
                    <img class="icon-nav" src="./../../../assets/icons/link.svg">
                  </a>
                </div>
                <div class="col">
                  <a href="#">
                    <img class="icon-nav" src="./../../../assets/icons/yt.svg">
                  </a>
                </div>
                <div class="col">
                  <a href="#">
                    <img class="icon-nav" src="./../../../assets/icons/internet.svg">
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-9">
          <!--categorias-->
          <div class="categorias container mx-auto">
            <p class="h5 text-center">Aprendiendo</p> <br>

            <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Tecnologías">
                <div class="Tecnologias">
                  <br>
                  <div class="row col-md-12 ">
                    <div class="col-md-3 text-center" *ngFor="let curso of cursosTec">
                      <label>
                        <div class="card ">
                          <div class="imgLiquid view overlay zoom z-depth-1 rounded"
                            style="max-width:255px; height:250px;">
                            <img class="card-img-top" [src]="curso.imagen" alt="Card image cap" max-width="255"
                              height="250">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">{{curso.nombreCorto}}</h5>
                            <p class="card-text d-inline-block text-truncate" style="max-width: 200px;">
                              {{curso.descripcionCurso}}
                            </p>
                            <a class="btn btn-primary" [routerLink]="['curso',curso.ruta,'vista']">Ver curso</a>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Idiomas">
                <div class="Idiomas">
                  <br>
                  <div class="row col-md-12 o">
                    <div class="col-md-3 text-center" *ngFor="let curso of cursosIdiomas">
                      <label>
                        <div class="card">
                          <div class="imgLiquid view overlay zoom z-depth-1 rounded"
                            style="max-width:255px; height:250px;">
                            <img class="card-img-top" [src]="curso.imagen" alt="Card image cap" max-width="255"
                              height="250">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">{{curso.nombreCorto}}</h5>
                            <p class="card-text d-inline-block text-truncate" style="max-width: 200px;">
                              {{curso.descripcionCurso}}
                            </p>
                            <a class="btn btn-primary" [routerLink]="['curso',curso.ruta,'vista']">Ver curso</a>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>


          </div>
          <!--Cierre Categorías-->
        </div>

      </div>
      <br>

      <div class="row">
        <!--Insignias del curso-->
        <div class="col-md-3">
          <h4 class="txtTodos">Insignias Obtenidas</h4>
          <div class="jumbotron backinsignias">
            <div class="d-flex flex-wrap bd-highlight mb-3">
              <div class="p-2 bd-highlight">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cursos">
                  <img class="imgicon" src="./../../../assets/icons/libro.svg" />holdjjfnejfnejfnejfnjfnejnfejfnjenf
                </span>
              </div>
              <div class="p-2 bd-highlight">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cursos">
                  <img class="imgicon" src="./../../../assets/icons/libro.svg" />
                </span>
              </div>
              <div class="p-2 bd-highlight">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cursos">
                  <img class="imgicon" src="./../../../assets/icons/libro.svg" />
                </span>
              </div>
              <div class="p-2 bd-highlight">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cursos">
                  <img class="imgicon" src="./../../../assets/icons/libro.svg" />
                </span>
              </div>
            </div>
          </div>

        </div>
        <!--Certificados-->
        <div class="col-md-9">
          <div class="card descridos">
            <div class="card-header bg-light text-center">
              Certificados
            </div>
            <div class="card-body">
              <div class="row">
                <div class="card mb-3 descri mx-3" style="max-width: 350px;">
                  <div class="row no-gutters">
                    <div class="col-md-4 vertical-center">
                      <div class="imgLiquidFill imgLiquid card-img pl-2" style="width:100px; height:100px;">
                        <img src="http://www.lorempixel.com/400/350" alt="..." width="100" height="100">
                      </div>
                    </div>
                    <div class="col-md-8 ">
                      <div class="card-body">
                        <h5 class="card-title">Tecnologias de la informacion</h5>
                        <p class="card-text">Fecha de Incripción: 12/12/2018</p>
                        <div class="text-right">
                          <button mat-mini-fab color="success">
                            <img class="icon-check" src="./../../../assets/icons/down.svg">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3 descri mx-3" style="max-width: 350px;">
                  <div class="row no-gutters">
                    <div class="col-md-4 vertical-center">
                      <div class="imgLiquidFill imgLiquid card-img pl-2" style="width:100px; height:100px;">
                        <img src="http://www.lorempixel.com/400/350" alt="..." width="100" height="100">
                      </div>
                    </div>
                    <div class="col-md-8 ">
                      <div class="card-body">
                        <h5 class="card-title">Tecnologias de la informacion</h5>
                        <p class="card-text">Fecha de Incripción: 12/12/2018</p>
                        <div class="text-right">
                          <button mat-mini-fab color="success">
                            <img class="icon-check" src="./../../../assets/icons/down.svg">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>