<div class="col-md-12 px-0">
  <br>
  <br>
  <br>
  <br>
  <!--titulo-->
  <div class="col-md-12 px-0 paqueteshome">
    <div class="container">
      <h2 class="letracursotitulo"><b>José Antonio Rodriguez Hernandez</b></h2>
      <h5 class="letracursotitulo">Estudiante de Ingeniería en Sistemas Computacionales</h5>
    </div>
  </div>
  <br>
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="imgLiquidFill imgLiquid card-img-top" style="width:255px; height:250px;">
              <img src="http://www.lorempixel.com/400/350" alt="..." width="255" height="250">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <a href="#">
                    <img class="icon-nav" src="./../../../assets/icons/fb.svg">
                  </a>
                </div>
                <div class="col">
                  <a href="#">
                    <img class="icon-nav" src="./../../../assets/icons/link.svg">
                  </a>
                </div>
                <div class="col">
                  <a href="#">
                    <img class="icon-nav" src="./../../../assets/icons/yt.svg">
                  </a>
                </div>
                <div class="col">
                  <a href="#">
                    <img class="icon-nav" src="./../../../assets/icons/internet.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>