.icon-check{
    width: 20px
  }

  .descri{
    background-color: rgba(126, 124, 121, 0.068); 
    border-radius: 19px 19px 19px 19px;
}
.txtTodos{
    color: #3a383893;
    font-weight: bold;
  }

  .letrablanca{
    color: #FFFFFF;
    font-weight: bold;
 
}
.imgicon{
    width: 30px
  }

  .backinsignias{
    background-color: rgba(113, 252, 79, 0.219);
  }
  .descri2{
    background-color: rgb(112, 112, 112); 
    border-radius: 19px 19px 19px 19px;
  }

  .icon-redes {
    width: 38px;
  }

  img.light-shadow{
    filter: drop-shadow(1px 2px 1px rgba(214, 213, 213, 0.301));
  }

  .descri3{
    background-color: rgb(37, 35, 35);
  }

  .saturate {-webkit-filter: saturate(7); filter: saturate(7);}