.descridos {
  background-color: rgba(126, 124, 121, 0.068);
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}

.descritres {
  background-color: rgba(126, 124, 121, 0.068);
}

.encabezado {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.cuerpo {
  background-color: rgba(126, 124, 121, 0.068);
}
