<div class="col-md-12 p-0">
  <p class="h1 letracursotitulo"><b> {{infoCurso.nombreCompleto}} </b></p>
  <mat-divider></mat-divider>
  <div class="row justify-content-center">
    <!-- Foto -->
    <div class="col-md-5 px-5">
      <mat-card>
        <mat-card-header class="justify-content-center">
          <mat-card-title>Portada</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]='infoCurso.imagen' height='250'>
        <mat-card-content>
          <p class="text-center">
            Esta imagen se mostrará en las busquedas y miniaturas del curso.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <form [formGroup]="fotoForm">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Subir Foto</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" formControlName="foto" (change)="seleccionarFoto($event)">
                <label class="custom-file-label" for="inputGroupFile01">{{mensajeFoto}}</label>
              </div>
            </div>
          </form>
          <button mat-stroked-button *ngIf="cambiaFoto" (click)="subirFoto()">Guardar</button>
          <mat-progress-bar *ngIf="!finalizadoFoto" mode="determinate" [value]="porcentajeFoto"></mat-progress-bar>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- Foto -->
    <mat-divider [vertical]="true"></mat-divider>
    <!-- Video -->
    <div class="col-md-5 pl-5">
      <mat-card>
        <mat-card-header class="justify-content-center">
          <mat-card-title>Video principal</mat-card-title>
        </mat-card-header>
        <video mat-card-image id='videoId' class='video-js' controls preload='auto' width='200' height='250'
          [poster]='infoCurso.imagen'>
        </video>
        <mat-card-content>
          <p class="text-center">
            Este video será la presentación de tu curso y se mostrará en su página principal.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <form [formGroup]="videoForm">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Subir Video</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" formControlName="video"
                  (change)="seleccionarVideo($event)">
                <label class="custom-file-label" for="inputGroupFile01">{{mensajeVideo}}</label>
              </div>
            </div>
          </form>
          <button mat-stroked-button *ngIf="cambiaVideo" (click)="subirVideo()">Guardar</button>
          <mat-progress-bar *ngIf="!finalizadoVideo" mode="determinate" [value]="porcentajeVideo"></mat-progress-bar>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- Video -->
  </div>
  <br>
  <!--Temario-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-light text-center">
          Objetivos
        </div>
        <div class="example-container mat-elevation-z8">
          <ul *ngFor="let objetivo of infoCurso.objetivos">
            <li>{{objetivo.objetivo}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--Temario-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-light text-center">
          Temario
        </div>
        <div class="example-container mat-elevation-z8">
          <br>
          <!--Acordeon-->
          <mat-accordion class="example-headers-align">
            <div class="col-md-12">
              <!--Unidades-->
              <mat-expansion-panel hideToggle="true" *ngFor="let unidad of infoCurso.contenidoCurso let i=index">
                <mat-expansion-panel-header class="acordeon-enc">
                  <mat-panel-title>
                    <b>Unidad {{i+1}}: {{unidad.unidad}}</b>
                  </mat-panel-title>
                  <mat-panel-description>
                    <span> </span>
                    <mat-icon>assignment</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <br>
                <!-- Subtemas -->
                <mat-accordion class="example-headers-align">
                  <div class="col-md-12">
                    <!--Clases-->
                    <mat-expansion-panel hideToggle="true" *ngFor="let subtema of unidad.subtemas; let j=index">
                      <mat-expansion-panel-header class="acordeon-enc">
                        <mat-panel-title>
                          <b>Subtema {{j+1}}: {{subtema.subtema}}</b>
                        </mat-panel-title>
                        <mat-panel-description>
                          <span> </span>
                          <mat-icon>assignment</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <br>
                      <!-- Lista clases -->
                      <ul>
                        <li *ngFor="let clase of subtema.clases; let k=index">
                          {{clase.clase}} <button mat-stroked-button [routerLink]="['./temario', i+1, j+1, k+1]">Configurar Contenido</button>
                        </li>
                      </ul>
                      <!-- Lista clases -->
                      <button mat-stroked-button [routerLink]="['./temario', i+1, j+1]">Editar Subtema</button>
                    </mat-expansion-panel>
                    <!--Clases-->
                  </div>
                </mat-accordion>
                <!-- Subtemas -->
                <button mat-stroked-button [routerLink]="['./temario', i+1]">Editar Unidad</button>
              </mat-expansion-panel>
              <!--Unidades-->
            </div>
          </mat-accordion>
          <button mat-stroked-button [routerLink]="['./temario']">Editar Temario</button>
          <!--Accordion-->
          <br>
        </div>
      </div>
    </div>
  </div>
</div>