<!--carrousel-->
<div class="carrusel  px-0 pt-1">
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
      <!--First slide-->
      <mdb-slide>
        <video class="video-fluid" autoplay loop>
          <source src="../../../../assets/videos-prueba/Tropical.mp4" type="video/mp4" />
        </video>
      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
        <video class="video-fluid" autoplay loop>
          <source src="../../../../assets/videos-prueba/forest.mp4" type="video/mp4" />
        </video>
      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
        <video class="video-fluid" autoplay loop>
          <source src="../../../../assets/videos-prueba/Agua-natural.mp4" type="video/mp4" />
        </video>
      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>
    <!--Carousel Wrapper-->
  </div>
  <!--Cierre carrousel-->