<br>
<br>
<br>
<br>

<div class="row col-md-12">

  <div class="col-md-4 mt-1 ">

    <div class="card font-weight-bold text-center list-group">

      <a class="list-group-item list-group-item-action btn-warning btn btn-block subtitulo" style="font-size:25px;"
        [routerLink]="['./']" style="font-size:25px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/menu_admin.svg"><b>MENÚ</b></a>

      <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
        style="font-size:20px;" [routerLink]="['./']" style="font-size:20px;"> <img class="icon-nav mr-2 "
          src="./../../../assets/icons/perfil-i.svg">Mi Perfil</a>
      <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
        style="font-size:20px;" [routerLink]="['./cuenta']" style="font-size:20px;"> <img class="icon-nav mr-2 "
          src="./../../../assets/icons/cuenta.svg">Cuenta</a>
      <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
        style="font-size:20px;" [routerLink]="['./documentacion']" style="font-size:20px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/diploma.svg">Mi documentación</a>
      <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
        style="font-size:20px;" [routerLink]="['./pagos']" style="font-size:20px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/pagos.svg">Historial de Pagos</a>
      <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
        style="font-size:20px;" [routerLink]="['./estado-cursos']" style="font-size:20px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/status.svg">Estado Cursos</a>
    </div>
  </div>

  <div class="col-md-8 ">
    <router-outlet></router-outlet>
  </div>
</div>
<br>