    <br>
    <br>
    <br>
    <br>

    <div class="row col-md-12">


      <div class="col md-4 mt-1 ">

        <div class="card font-weight-bold text-center list-group">

          <li class="badge-primary list-group-item list-group-item-action" style="font-size:25px;"> <img class="icon-nav mr-2"
              src="./../../../assets/icons/menu_admin.svg">MENÚ</li>

          <a class=" list-group-item list-group-item-action btn btn-block font-weight-bold btn-outline-dark  text-left" href="#" style="font-size:20px;"> <img
              class="icon-nav mr-2" src="./../../../assets/icons/cursos.svg">Cursos</a>
          <a class="list-group-item list-group-item-action btn btn-block font-weight-bold btn-outline-dark text-left" href="#" style="font-size:20px;"> <img
              class="icon-nav mr-2" src="./../../../assets/icons/usuarios.svg">Usuarios</a>
          <a class="list-group-item list-group-item-action btn btn-block font-weight-bold btn-outline-dark text-left" href="#" style="font-size:20px;"> <img
              class="icon-nav mr-2" src="./../../../assets/icons/pagos.svg">Pagos</a>
          <a class="list-group-item list-group-item-action btn btn-block font-weight-bold btn-outline-dark text-left" href="#" style="font-size:20px;"> <img
              class="icon-nav mr-2" src="./../../../assets/icons/estadisticas.svg">Estadísticas</a>

        </div>

      </div>
      <!--carrousel-->
      <div class="col-md-8 ">
        <div class="carrusel  px-0 pt-1 container">
          <!--Carousel Wrapper-->
          <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
            <!--First slide-->
            <mdb-slide>
              <video class="video-fluid" autoplay loop>
                <source src="../../../../assets/videos-prueba/Tropical.mp4" type="video/mp4" />
              </video>
            </mdb-slide>
            <!--/First slide-->
            <!--Second slide-->
            <mdb-slide>
              <video class="video-fluid" autoplay loop>
                <source src="../../../../assets/videos-prueba/forest.mp4" type="video/mp4" />
              </video>
            </mdb-slide>
            <!--/Second slide-->
            <!--Third slide-->
            <mdb-slide>
              <video class="video-fluid" autoplay loop>
                <source src="../../../../assets/videos-prueba/Agua-natural.mp4" type="video/mp4" />
              </video>
            </mdb-slide>
            <!--/Third slide-->
          </mdb-carousel>
          <!--Carousel Wrapper-->
        </div>
      </div>
      <!--Cierre carrousel-->
    </div>
    <br>