.icon-check{
    width: 35px
  }

  .txtTodos{
    color: #3a383893;
    font-weight: bold;
  }

  .colorbtn{
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  .descri{
    background-color: rgba(126, 124, 121, 0.068); 
  
}

.icon-edit{
    width: 20px;
  }