<div class="col-md-12 px-0" style="background-color: rgba(126, 124, 121, 0.068);">
  <br>
  <br>
  <br>
  <br>
  <div class="col-md-12 px-0 paqueteshome">
    <div class="container">
      <div class="row ">
        <h2 class="p-2 letracursotitulo"><b>Comunidad</b></h2>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <!--div categorias-->
            <div class="container" *ngIf="editarCategoria">
              <div class="row justify-content-center">
                <div class="col-md-6 container">
                  <div class="card">
                    <div class="text-center p-2">
                      <h5>Categorías</h5>
                    </div>
                    <div class="container text-center p-2">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                          value="idiomas" [(ngModel)]="infoPregunta.categoria">
                        <label class="form-check-label" for="exampleRadios1">
                          Idiomas
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                          value="tecnologia" [(ngModel)]="infoPregunta.categoria">
                        <label class="form-check-label" for="exampleRadios2">
                          Tecnologías
                        </label>
                      </div>
                    </div>
                    <div class="text-right py-3 pr-4">
                      <button type="button" class="btn btn-success btn-sm" (click)="cambiarCategoria()">
                        <img class="icon-edit mr-1" src="./../../../assets/icons/guardar.svg">
                        Guardar
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="editarCategoria=false">
                        Cancelar
                      </button>
                    </div>

                  </div>

                </div>
              </div>
              <br>
            </div>

            <!--div pregunta-->
            <div class="container">
              <div class="card">
                <!--titulo-->
                <div class="text-right pt-3 pr-4">
                  <button type="button" class="btn btn-outline-warning btn-sm" (click)="editarCategoria=true"
                    *ngIf="propia">
                    Modificar Categoría</button>
                </div>
                <!--Pregunta y Respuesta-->
                <div class="container col-md-12 px-5">
                  <b class="h3">{{infoPregunta.pregunta}}</b>
                  <br>
                  <p>{{infoPregunta.detalles}}</p>
                  <br>
                  <div *ngFor="let actualizacion of infoPregunta.actualizaciones; let i=index">
                    <b>Actualización {{i+1}}: </b>
                    <p> {{actualizacion.actualizacion}} </p>
                    <mat-divider></mat-divider>
                  </div>
                  <br>
                  <b>{{infoPregunta.fecha | date}}</b>
                  <br>
                  <a (click)="navegarCat()">{{infoPregunta.categoria}}</a>

                  <div class="text-right pr-4 pb-3" *ngIf="propia">
                    <button type="button" class="btn btn-warning" (click)="editarPregunta=true">
                      <img class="icon-edit mr-1" src="./../../../assets/icons/edit.svg">
                      Actualizar
                    </button>
                  </div>

                </div>
                <!--Editar-->
                <div class="container col-md-12 px-5" *ngIf="editarPregunta">
                  <mat-divider></mat-divider>
                  <br>
                  <form [formGroup]="actualizacionForm">
                    <mat-form-field appearance="outline" class="field-login">
                      <mat-label>Actualizar pregunta:</mat-label>
                      <textarea matInput placeholder="Agrega más información a tu pregunta" cdkTextareaAutosize
                        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="15" formControlName="actualizacion"></textarea>
                    </mat-form-field>
                    <mat-error>
                      <span
                        *ngIf="!actualizacionForm.get('actualizacion').valid && actualizacionForm.get('actualizacion').touched">Agrega
                        una actualizacion.</span>
                    </mat-error>
                    <div class="text-right pr-4 pb-3">
                      <button [disabled]="!actualizacionForm.valid" type="button" class="btn btn-success btn-sm"
                        (click)="agregarActualizacion()">
                        <img class="icon-edit mr-1" src="./../../../assets/icons/guardar.svg">
                        Guardar
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="editarPregunta=false">
                        Cancelar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Info Persona -->
              <div class="card mb-12">
                <div class="row no-gutters">
                  <div class="col-md-2">
                    <img [src]="infoPersona.foto" class="card-img">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h5 class="card-title">{{infoPersona.nombreCompleto}}</h5>
                      <p class="card-text">{{infoPersona.resumen}}</p>
                      <button type="button" class="btn btn-outline-warning btn-sm">Ver perfil </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Info Persona -->

              <!-- Respuestas -->
              <div class="card">
                <div class="card-header bg-light text-center">
                  <b>
                    Respuestas ({{numPreguntas}})
                  </b>
                </div>
                <div class="card-body">
                  <div class="container">

                    <!-- Respuestas -->
                    <div class="card mb-12" *ngFor="let respuesta of infoRespuestas">
                      <div class="row no-gutters">
                        <div class="col-md-2">
                          <img [src]="respuesta.foto" class="card-img">
                        </div>
                        <div class="col-md-10">
                          <div class="card-body">
                            <h5 class="card-title"><a href="#">{{respuesta.nombreCompleto}}</a></h5>
                            <p class="card-text">{{respuesta.comentario}}</p>
                            <div class="p-2 bd-highlight txtTodos">{{respuesta.fecha | date}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Respuestas -->
                    <mat-divider></mat-divider>
                    <form [formGroup]="respuestaForm">
                      <mat-form-field appearance="outline" class="field-login">
                        <mat-label>Respuesta:</mat-label>
                        <textarea matInput placeholder="Escribe tu duda" cdkTextareaAutosize cdkAutosizeMinRows="2"
                          cdkAutosizeMaxRows="15" formControlName="respuesta"></textarea>
                      </mat-form-field>
                      <mat-error>
                        <span
                          *ngIf="!respuestaForm.get('respuesta').valid && respuestaForm.get('respuesta').touched">Agrega
                          tu respuesta</span>
                      </mat-error>
                      <div class="text-right pr-4 pb-3">
                        <button [disabled]="!respuestaForm.valid || !iduser" type="button" class="btn colorbtn"
                          (click)="enviarRespuesta()">Enviar</button>
                      </div>
                    </form>
                    <br>
                  </div>
                </div>
              </div>
              <!-- Respuestas -->
            </div>

          </div>
        </div>
        <div class="col-md-4 pl-4">
          <div class="container">
            <div class="card">

              <div class="row justify-content-center py-3">
                <img class="icon-check mr-1" src="./../../../assets/icons/conversacion.svg">
                <h4>¡Haz tu pregunta!</h4>
              </div>

              <div class="container form col-md-12">
                <form [formGroup]="preguntaForm">
                  <mat-form-field appearance="outline" class="field-login">
                    <mat-label>Pregunta:</mat-label>
                    <textarea matInput placeholder="Escribe tu duda" cdkTextareaAutosize cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="15" formControlName="pregunta"></textarea>
                  </mat-form-field>
                  <mat-error>
                    <span *ngIf="!preguntaForm.get('pregunta').valid && preguntaForm.get('pregunta').touched">Agrega tu
                      pregunta</span>
                  </mat-error>
                  <div class="text-right pr-4 pb-3">
                    <button [disabled]="!preguntaForm.valid || !iduser" type="button" class="btn colorbtn"
                      (click)="hacerPregunta()">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>