<div class="col-md-12 px-0" style="background-color: rgba(126, 124, 121, 0.068);">
  <br>
  <br>
  <br>
  <br>
  <div class="col-md-12 px-0 paqueteshome">
    <div class="container">
      <div class="row ">
        <h2 class="p-2 letracursotitulo"><b>Comunidad</b></h2>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <!--div categorias-->
            <div class="container" *ngIf="editarCategoria">
              <div class="row justify-content-center">
                <div class="col-md-6 container">
                  <div class="card">
                    <div class="text-center p-2">
                      <h5>Categorías</h5>
                    </div>
                    <div class="container text-center p-2">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                          value="idiomas" [(ngModel)]="infoPregunta.categoria">
                        <label class="form-check-label" for="exampleRadios1">
                          Idiomas
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                          value="tecnologia" [(ngModel)]="infoPregunta.categoria">
                        <label class="form-check-label" for="exampleRadios2">
                          Tecnologías
                        </label>
                      </div>
                    </div>
                    <div class="text-right py-3 pr-4">
                      <button type="button" class="btn btn-success btn-sm" (click)="cambiarCategoria()">
                        <img class="icon-edit mr-1" src="./../../../assets/icons/guardar.svg">
                        Guardar
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="editarCategoria=false">
                        Cancelar
                      </button>
                    </div>

                  </div>

                </div>
              </div>
              <br>
            </div>

            <!--div pregunta-->
            <div class="container">
              <div class="card">
                <!--titulo-->
                <div class="text-right pt-3 pr-4">
                  <button type="button" class="btn btn-outline-warning btn-sm" (click)="editarCategoria=true"
                    *ngIf="propia"> <img class="icon-edit mr-1" src="./../../../assets/icons/edit.svg">
                    Modificar Categoría</button>
                </div>
                <!--Pregunta y Respuesta-->
                <div class="container col-md-12 px-5">
                  <div class="row">
                    <div class="col-md-2 p-0 text-center">
                      <a [href]="'/alumno/perfil-publico/'+infoPersona.ruta" target="_blank" rel="noopener noreferrer">
                        <div class="imgLiquidFill imgLiquid ml-2 " style="width:90px; height:90px;">
                          <img [src]="infoPersona.foto" class="rounded-circle sombrabaja" alt="Cinque Terre" width="90"
                            height="90">
                        </div>
                        <p class="text-muted pr-1">{{infoPersona.nombreCompleto}}</p>
                      </a>
                    </div>
                    <div class="col-md-10">
                      <div class="row">
                        <div class="col-md-1 p-0 text-center pt-1">
                          <button class="unstyled-button" data-toggle="tooltip" data-placement="top"
                            title="Reportar pregunta" (click)="reportarEntrada()">
                            <img class="icon-report" src="./../../../assets/icons/reportar.svg">
                          </button>
                        </div>
                        <div class="col-md-11">
                          <b class="h3">{{infoPregunta.pregunta}}</b>
                        </div>
                      </div>
                      <br>
                      <div [innerHTML]="infoPregunta.detalles"></div>

                      <button type="button" class="btn colorbtn" [routerLink]="['./']" fragment="caja"
                        (click)="setDetalles(infoPregunta.detalles)">Corregir</button>

                      <br>
                      <div *ngFor="let actualizacion of infoPregunta.actualizaciones; let i=index">
                        <b>Actualización {{i+1}}: </b>
                        <div [innerHTML]="actualizacion.actualizacion"></div>
                        <button type="button" class="btn colorbtn" [routerLink]="['./']" fragment="caja"
                          (click)="setDetalles(actualizacion.actualizacion)">Corregir</button>
                        <mat-divider></mat-divider>
                      </div>
                      <br>
                      <b>{{infoPregunta.fecha | date}}</b>
                      <br>
                      <a (click)="navegarCat()">{{infoPregunta.categoria}}</a>

                      <div class="text-right pr-4 pb-3" *ngIf="propia">
                        <button type="button" class="btn btn-warning" (click)="editarPregunta=true">
                          Actualizar
                        </button>
                      </div>

                    </div>
                  </div>
                </div>

                <!--Editar-->
                <div class="container col-md-12 px-5" *ngIf="editarPregunta">
                  <mat-divider></mat-divider>
                  <br>
                  <form [formGroup]="actualizacionForm">

                    <h5>Actualizar pregunta:</h5>
                    <ckeditor required [config]="ckeConfig" debounce="500" (paste)="onPaste($event)"
                      (change)="onChange($event)" formControlName="actualizacion">
                    </ckeditor>

                    <div class="text-right pr-4 pb-3">
                      <button [disabled]="!actualizacionForm.valid" type="button" class="btn btn-success btn-sm"
                        (click)="agregarActualizacion()">
                        <img class="icon-edit mr-1" src="./../../../assets/icons/guardar.svg">
                        Guardar
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="editarPregunta=false">
                        Cancelar
                      </button>
                    </div>
                  </form>
                </div>
              </div>

              <!-- Respuestas -->
              <div class="card" id="respuesta">
                <div class="card-header paqueteshome text-center text-white">
                  <b>
                    Respuestas ({{infoRespuestas.length}})
                  </b>
                </div>
                <div class="card-body">
                  <div class="container">

                    <!-- Respuestas -->
                    <div class="card mb-12 descri mb-4 pl-2"
                      *ngFor="let respuesta of infoRespuestas | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                      <div class="row no-gutters">
                        <div class="col-md-2 px-2">
                          <div class="imgLiquidFill imgLiquid mt-4 " style="width:100px; height:100px;">
                            <img [src]="respuesta.foto" class="card-img rounded-circle sombrabaja" alt="Cinque Terre"
                              width="100" height="100">
                          </div>
                        </div>
                        <div class="col-md-10">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-1 p-0 text-center pt-1">
                                <button class="unstyled-button" data-toggle="tooltip" data-placement="top"
                                  title="Reportar comentario" (click)="reportarComentarioN1(respuesta.i)">
                                  <img class="icon-report" src="./../../../assets/icons/reportar.svg">
                                </button>
                              </div>
                              <div class="col-md-11">
                                <h5 class="card-title"><a
                                    [routerLink]="['/alumno/perfil-publico',respuesta.ruta]">{{respuesta.nombreCompleto}}</a>
                                </h5>
                              </div>
                            </div>
                            <div [innerHTML]="respuesta.comentario"></div>
                            <div class="p-2 d-flex justify-content-between txtTodos">
                              <p class="text-muted"> {{respuesta.fecha | date}}</p>
                              <button [disabled]="!iduser" type="button" class="btn colorbtn"
                                (click)="responder(i)">Responder</button>
                            </div>
                          </div>
                          <mat-divider> </mat-divider>
                          <!-- Respuesta al comentario -->
                          <div *ngFor="let resp of respuesta.respuestas; let j=index">
                            <div class="row no-gutters">
                              <div class="col-md-2">
                                <div class="imgLiquidFill imgLiquid mt-3 " style="width:90px; height:90px;">
                                  <img [src]="resp.foto" class="card-img rounded-circle sombrabaja" alt="Cinque Terre"
                                    width="90" height="90">

                                </div>
                              </div>
                              <div class="col-md-10">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-1 p-0 text-center pt-1">
                                      <button class="unstyled-button" data-toggle="tooltip" data-placement="top"
                                        title="Reportar comentario" (click)="reportarComentarioN2(resp.i,resp.j)">
                                        <img class="icon-report" src="./../../../assets/icons/reportar.svg">
                                      </button>
                                    </div>
                                    <div class="col-md-11">
                                      <h5 class="card-title"><a
                                          [routerLink]="['/alumno/perfil-publico',resp.ruta]">{{resp.nombreCompleto}}</a>
                                      </h5>
                                    </div>
                                  </div>
                                  <div [innerHTML]="resp.comentario"></div>
                                  <div class="p-2 bd-highlight txtTodos">
                                    {{resp.fecha | date}}
                                  </div>
                                </div>
                                <mat-divider> </mat-divider>
                              </div>
                            </div>
                          </div>
                          <!-- Respuesta al comentario -->
                          <div *ngIf="responderIndex==i">
                            <ckeditor required [config]="ckeConfig" debounce="500" [(ngModel)]="respuestaCom">
                            </ckeditor>
                            <div class="text-right pr-4 pb-3">
                              <button [disabled]="respuestaCom==''" type="button" class="btn colorbtn"
                                (click)="enviarRespuestaCom(respuesta.i)">Enviar</button>
                              <button type="button" class="btn btn-danger" (click)="responderIndex=-1">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
                    </pagination-controls>
                    <!-- Respuestas -->
                    <mat-divider></mat-divider>
                    <br>
                    <form [formGroup]="respuestaForm">
                      <h5 id="caja"> Respuesta:</h5>
                      <ckeditor required [config]="ckeConfig" debounce="500" formControlName="respuesta">
                      </ckeditor>
                      <div class="text-right pr-4 pb-3">
                        <button [disabled]="!respuestaForm.valid || !iduser || respuestaForm.value.respuesta==' '"
                          type="button" class="btn colorbtn" (click)="enviarRespuesta()">Enviar</button>
                      </div>
                    </form>
                    <br>
                  </div>
                </div>
              </div>
              <!-- Respuestas -->
            </div>

          </div>
        </div>
        <div class="col-md-4 pl-4">
          <div class="container">
            <div class="card">

              <div class="row justify-content-center py-3">
                <img class="icon-check mr-1" src="./../../../assets/icons/conversacion.svg">
                <h4>¡Haz tu pregunta!</h4>
              </div>

              <div class="container form col-md-12">
                <form [formGroup]="preguntaForm">
                  <mat-form-field appearance="outline" class="field-login">
                    <mat-label>Pregunta:</mat-label>
                    <textarea matInput placeholder="Escribe tu duda" cdkTextareaAutosize cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="15" formControlName="pregunta"></textarea>
                  </mat-form-field>
                  <mat-error>
                    <span *ngIf="!preguntaForm.get('pregunta').valid && preguntaForm.get('pregunta').touched">Agrega
                      tu
                      pregunta</span>
                  </mat-error>
                  <div class="text-right pr-4 pb-3">
                    <button [disabled]="!preguntaForm.valid || !iduser" type="button" class="btn colorbtn"
                      (click)="hacerPregunta()">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>