<header>
  <nav class="navbar navbar-light blue-grey lighten-5 navbar-expand-sm fixed-top scrolling-navbar ">
    <a class="nav-item active" href="/">
      <img class="icon-nav-home" src="./../../../assets/icons/home.svg">
    </a>
    <div class="collapse navbar-collapse row col-md-12 pl-5" id="navbarSupportedContent">
      <!--Categorias-->
      <div class="col-md-1 vertical-center ">
        <div class="nav-item active d-flex justify-content-start mr-0 ml-2 text-center ">
          <a class="waves-light" href="#">
            <img class="icon-nav" src="./../../../assets/icons/menu.svg"> <br>Categorías
          </a>
        </div>
      </div>
      <!--Categorias-->

      <!--Buscador-->
      <div class="col-md-6 vertical-center pr-2">
        <div class="input-group input-group-sm vertical-center">
          <input type="text" class="form-control my-auto ml-2" placeholder="Buscar Curso">
          <div class="input-group-prepend ml-3">
            <button mat-mini-fab color="primary"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
      <!--Buscador-->

      <!--Comunidad-->
      <div class="col-md-1 vertical-center">
        <div class="nav-item active d-flex justify-content-start mr-5 text-center ">
          <a class=" waves-light" href="#">
            <img class="icon-nav" src="./../../../assets/icons/comunidad.svg"><br>Comunidad
          </a>
        </div>
      </div>
      <!--Comunidad-->

      <!--Modo alumno-->
      <div class="col-md-1 vertical-center">
        <div class="nav-item active text-center">
          <a class=" waves-light" href="#">
            <img class="icon-nav-grande" data-toggle="tooltip" data-placement="bottom" title="Cambiar a Modo Alumno" src="./../../../assets/icons/alumno.svg"><br>
          </a>
        </div>
      </div>
      <!--Modo alumno-->

      <!-- Alertas-->
      <div class="col-md-1 vertical-center" >
        <div class="nav-item active d-flex text-center dropdown">
          <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img class="icon-nav" src="./../../../assets/icons/alertas.svg"><br> Alertas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Alertas-->

      <!--Mi perfil-->
      <div class="col-md-1 vertical-center" >
        <div class="nav-item active text-center dropdown">
          <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img class="icon-nav" src="./../../../assets/icons/perfil-m.svg" *ngIf="sexo"><img class="icon-nav"
              src="./../../../assets/icons/perfil-h.svg" *ngIf="!sexo"><br>{{usuario}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><i class="fas fa-user pr-1"></i>Mi Perfil</a>
            <a class="dropdown-item" href="#"><i class="fas fa-at pr-1"></i>Cuenta</a>
            <a class="dropdown-item" href="#"><i class="fas fa-credit-card pr-1"></i>Métodos de Pago</a>
            <a class="dropdown-item" href="#"><i class="fas fa-file-alt"></i> Historial de Compra</a>
            <a class="dropdown-item" href="#"><i class="fas fa-award"></i> Certificados</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
          </div>
        </div>
      </div>
      <!--Perfil-->
    </div>

    <!--Toggler button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <!--icono del toggler bar (las tres lienas que salen al compactar la página)-->
    </button>
    <!--Toggler button-->
  </nav>
</header>
<router-outlet></router-outlet>