<header>
  <nav class="navbar navbar-light blue-grey lighten-5 navbar-expand-sm fixed-top scrolling-navbar img-posicion">
    <a class="nav-item active pl-2" [routerLink]="['/maestro']">
      <img class="icon-nav-home" src="./../../../assets/icons/royal.png">
    </a>
    <div class="collapse navbar-collapse row col-md-12" id="navbarSupportedContent">
      <!--Modo Alumno-->
      <div class="col-md-1 offset-md-7 vertical-center nav-item active ">
        <!-- <button mat-button class="p-0">
          <img class="icon-nav" data-toggle="tooltip" data-placement="bottom" title="Cambiar a Modo Alumno"
            src="./../../../assets/icons/alumno.svg">
          <p class="salto_pag mb-0">Modo</p>
        </button> -->
      </div>

      <!-- Alertas-->
      <div class="col-md-1 offset-md-1 vertical-center">
        <button mat-button [matMenuTriggerFor]="alertas" class="p-0">
          <img class="icon-nav" src="./../../../assets/icons/alertas.svg">
          <p class="salto_pag mb-0">Alertas</p>
        </button>
        <mat-menu #alertas="matMenu" class="fondo-navbar">
          <div *ngFor="let notificacion of notificaciones; let i=index">
            <button mat-menu-item [routerLink]="[notificacion.ruta]" (click)="descartar(i)" *ngIf="notificacion.estado">
              <i class="fas fa-laptop-code"></i>{{notificacion.descripcion}}
            </button>
            <mat-divider></mat-divider>
          </div>
        </mat-menu>
      </div>
      <!-- Alertas-->

      <!--Mi perfil-->
      <div class="col-md-1 offset-md-1 vertical-center">
        <button mat-button [matMenuTriggerFor]="miperfil" class="p-0">
          <img class="icon-nav" src="./../../../assets/icons/perfil-m.svg" *ngIf="sexo==2"><img class="icon-nav"
            src="./../../../assets/icons/perfil-h.svg" *ngIf="sexo==1"><img class="icon-nav"
            src="./../../../assets/icons/perfil-i.svg" *ngIf="sexo==3">
          <p class="salto_pag mb-0">{{usuario}}</p>
        </button>
        <mat-menu #miperfil="matMenu" class="fondo-navbar">
          <button mat-menu-item [routerLink]="['./perfil']">
            <i class="fas fa-user pr-1"></i>Mi Perfil
          </button>
          <button mat-menu-item [routerLink]="['/maestro/perfil/cuenta']">
            <i class="fas fa-at pr-1"></i>Cuenta
          </button>
          <button mat-menu-item [routerLink]="['/maestro/perfil/documentacion']">
            <i class="fas fa-award"></i> Mi documentación
          </button>
          <button mat-menu-item [routerLink]="['/maestro/perfil/estado-cursos']">
            <i class="far fa-edit"></i> Estado Cursos
          </button>
          <mat-divider></mat-divider>
          <a [href]="perfilPublico | safe: 'resourceUrl'" target="_blank" rel="noopener noreferrer">
            <button mat-menu-item>
              <i class="fas fa-external-link-alt"></i> ¡Comparte tu perfil!
            </button>
          </a>
          <button mat-menu-item (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
          </button>
        </mat-menu>
      </div>
      <!--Perfil-->
    </div>

    <!--Toggler button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <!--icono del toggler bar (las tres lienas que salen al compactar la página)-->
    </button>
    <!--Toggler button-->
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="page-footer font-small stylish-color-dark pt-4">
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://raise-technology.com/">Raise Technology</a>
  </div>
</footer>