.imgicon {
  width: 30px;
}

.txtTodos {
  color: #3a383893;
  font-weight: bold;
}

.colorbtn {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.icon-check {
  width: 20px;
}

.descri {
  background-color: rgba(126, 124, 121, 0.068);
}
