.inscripcion {
  background-color: rgba(126, 124, 121, 0.068);
  border-radius: 19px 19px 19px 19px;
  border: 1px solid #ddd;
}

.subinscri {
    text-shadow: 2px 2px 3px rgba(138, 138, 138, 0.84);
    color: #007791;
  }