<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 pl-5">
      <label class="h1 letracursotitulo mb-0"><b> {{infoClase.clase}} </b></label>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-md-12 justify-content-center">
      {{infoClase.texto}}
    </div>
  </div>
  <br>
  <br>
  <div class="row" *ngIf="infoClase.recursos.activo">
    <div class="col-md-12">
      <div class="card descridos">
        <div class="card-header bg-light text-center">
          Recursos
        </div>
        <div class="card-body">
          <ul>
            <li *ngFor="let url of infoClase.recursos.urls" class="card-title">
              <a target="_blank" rel="noopener noreferrer" [href]="url.urlRecurso">{{url.textoRecurso}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row" *ngIf="infoClase.tarea.activo">
    <div class="col-md-12">
      <div class="card descridos">
        <div class="card-header bg-light text-center">
          Tarea
        </div>
        <div class="card-body">
          {{infoClase.tarea.instruccion}}
        </div>
      </div>
    </div>
  </div>
  <br>
  <button class="btn-lg p-2 mb-2" mat-raised-button color="warn" [routerLink]="['../../../../']"
    routerLinkActive="router-link-active">
    volver
  </button>
  <button class="btn-lg p-2 mb-2" mat-raised-button color="primary" (click)="claseSiguiente(avance)">
    Ir a la siguiente clase
  </button>
  <br>
  <br>
</div>