<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 pl-5">
      <label class="h1 letracursotitulo mb-0"><b> {{infoClase.clase}} </b></label>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-md-12 justify-content-center">
      {{infoClase.texto}}
    </div>
  </div>
  <br>
  <br>
  <div class="row" *ngIf="infoClase.recursos.activo">
    <div class="col-md-12">
      <div class="card descridos">
        <div class="card-header bg-light text-center">
          Recursos
        </div>
        <div class="card-body">
          <ul>
            <li *ngFor="let url of infoClase.recursos.urls" class="card-title">
              <a target="_blank" rel="noopener noreferrer" [href]="url.urlRecurso">{{url.textoRecurso}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row" *ngIf="infoClase.tarea.activo">
    <div class="col-md-12">
      <div class="card descridos">
        <div class="card-header bg-light text-center">
          Tarea
        </div>
        <div class="card-body">
          {{infoClase.tarea.instruccion}}
          <div class="subir" *ngIf="!tareaEntregada">
            <form [formGroup]="tareaForm">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Subir Tarea</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" formControlName="tarea"
                    (change)="seleccionarTarea($event)">
                  <label class="custom-file-label" for="inputGroupFile01">{{mensajeTarea}}</label>
                </div>
              </div>
              <button mat-stroked-button (click)="subirTarea()">Guardar</button>
              <mat-progress-bar *ngIf="!finalizadoTarea" mode="determinate" [value]="porcentajeTarea">
              </mat-progress-bar>
            </form>
          </div>
          <div *ngIf="tareaEntregada">
            <a target="_blank" rel="noopener noreferrer" [href]="infoTarea.tarea">Archivo: {{infoTarea.nombreTarea}}</a>
            <button class="btn-lg p-2 mb-2" mat-raised-button color="warn" (click)="eliminarTarea()">
              Eliminar archivo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <button class="btn-lg p-2 mb-2" mat-raised-button color="warn" [routerLink]="['../../../../']">
    volver
  </button>
  <button class="btn-lg p-2 mb-2" mat-raised-button color="primary" (click)="claseSiguiente(avance)">
    Ir a la siguiente clase
  </button>
  <br>
  <br>
</div>