<!--Reportes Preguntas-->
<mat-expansion-panel [expanded]="preguntasExpand" hideToggle="true" class="acordeon-cuerpo2">
  <mat-expansion-panel-header class="acordeon-enc2">
    <mat-panel-title>
      <b class="subtitulo">Reportes Preguntas</b>
    </mat-panel-title>
    <mat-panel-description>
      <span> </span>
      <img class="iconacordeon" src="./../../../assets/icons/peticion2.svg">
    </mat-panel-description>
  </mat-expansion-panel-header>
  <br>
  <div class="card mb-12 descri mb-4 pl-2" *ngFor="let reporte of preguntasReportes">
    <div class="row no-gutters">
      <div class="col-md-2 px-2">
        <div class="imgLiquidFill imgLiquid mt-4 " style="width:100px; height:100px;">
          <img [src]="reporte.foto" class="card-img rounded-circle sombrabaja" alt="Cinque Terre" width="100"
            height="100">
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title row">
            <div class="col-md-7">
              <a [routerLink]="'/admin/usuario/'+reporte.id">{{reporte.nombreCompleto}}</a>
            </div>
          </h5>
          <div [innerHTML]="reporte.comentario"></div>
          <h3 *ngIf="reporte.actualizaciones.length>0">Actualizaciones:</h3>
          <div [innerHTML]="actualizacion.actualizacion" *ngFor="let actualizacion of reporte.actualizaciones"></div>
          <div class="p-2 d-flex justify-content-between txtTodos">
            <p class="text-muted"> {{reporte.fecha|date}}</p>
            <br>
            <button type="button" class="btn colorbtn"
              (click)="omitirPregunta(reporte.reportes,reporte.respuestas, reporte.index, reporte.rutaPregunta, reporte.estatusEntrada)">Omitir</button>
            <button type="button" class="btn colorbtn"
              (click)="aceptarPregunta(reporte.reportes,reporte.respuestas, reporte.index, reporte.rutaPregunta, reporte.estatusEntrada)">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</mat-expansion-panel>
<!--Reportes Preguntas-->

<!--Reportes Diario-->
<mat-expansion-panel [expanded]="diarioExpand" hideToggle="true" class="acordeon-cuerpo2">
  <mat-expansion-panel-header class="acordeon-enc2">
    <mat-panel-title>
      <b class="subtitulo">Reportes Diario</b>
    </mat-panel-title>
    <mat-panel-description>
      <span> </span>
      <img class="iconacordeon" src="./../../../assets/icons/peticion2.svg">
    </mat-panel-description>
  </mat-expansion-panel-header>
  <br>
  <div class="card mb-12 descri mb-4 pl-2" *ngFor="let reporte of diarioReportes">
    <div class="row no-gutters">
      <div class="col-md-2 px-2">
        <div class="imgLiquidFill imgLiquid mt-4 " style="width:100px; height:100px;">
          <img [src]="reporte.foto" class="card-img rounded-circle sombrabaja" alt="Cinque Terre" width="100"
            height="100">
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title row">
            <div class="col-md-7">
              <a [routerLink]="'/admin/usuario/'+reporte.id">{{reporte.nombreCompleto}}</a>
            </div>
          </h5>
          <div [innerHTML]="reporte.comentario"></div>
          <div class="p-2 d-flex justify-content-between txtTodos">
            <p class="text-muted"> {{reporte.fecha|date}}</p>
            <br>
            <button type="button" class="btn colorbtn"
              (click)="omitirDiario(reporte.reportes,reporte.respuestas, reporte.index, reporte.rutaDiario, reporte.estatusEntrada)">Omitir</button>
            <button type="button" class="btn colorbtn"
              (click)="aceptarDiario(reporte.reportes,reporte.respuestas, reporte.index, reporte.rutaDiario, reporte.estatusEntrada)">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>
<!--Reportes Diario-->

<!--Reportes Comentarios-->
<mat-expansion-panel [expanded]="comentariosExpand" hideToggle="true" class="acordeon-cuerpo2">
  <mat-expansion-panel-header class="acordeon-enc2">
    <mat-panel-title>
      <b class="subtitulo">Reportes comentarios</b>
    </mat-panel-title>
    <mat-panel-description>
      <span> </span>
      <img class="iconacordeon" src="./../../../assets/icons/peticion2.svg">
    </mat-panel-description>
  </mat-expansion-panel-header>
  <br>
  <div class="card mb-12 descri mb-4 pl-2" *ngFor="let reporte of comentariosReportes">
    <div class="row no-gutters">
      <div class="col-md-2 px-2">
        <div class="imgLiquidFill imgLiquid mt-4 " style="width:100px; height:100px;">
          <img [src]="reporte.foto" class="card-img rounded-circle sombrabaja" alt="Cinque Terre" width="100"
            height="100">
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title row">
            <div class="col-md-7">
              <a [routerLink]="'/admin/usuario/'+reporte.id">{{reporte.nombreCompleto}}</a>
            </div>
          </h5>
          {{reporte.comentario}}
          <div class="p-2 d-flex justify-content-between txtTodos">
            <p class="text-muted"> {{reporte.fecha|date}}</p>
            <br>
            <button type="button" class="btn colorbtn"
              (click)="omitirComentario(reporte.reportes,reporte.contenidoCurso, reporte.index, reporte.rutaCurso)">Omitir</button>
            <button type="button" class="btn colorbtn"
              (click)="aceptarComentario(reporte.reportes,reporte.contenidoCurso, reporte.index, reporte.rutaCurso)">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>
<!--Reportes Comentarios-->