<div class="col-md-12 px-0">
  <br>
  <br>
  <br>
  <br>
  <!--titulo-->
  <div class="col-md-12 px-0 paqueteshome">
    <div class="container">
      <div class="row ">
        <h2 class="p-2 letracursotitulo"><b>Comunidad</b></h2>
      </div>
    </div>
  </div>
  <br>
  <!--Temario-->
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="container">
            <div class="card">
              <div class="card-header bg-light text-center">
                <b>
                  Mis preguntas
                </b>
              </div>
              <div class="card-body">
                <div class="container">
                  <a href="#">¿Por qué dios me hizo así?</a>
                  <br>
                  <!--resumen pregunta-->
                  <div [innerHTML]="hola"></div>
                  <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight txtTodos">1 Respuesta(s)</div>
                    <div class="p-2 bd-highlight">
                      <a href="#">Idiomas</a></div>
                    <div class="p-2 bd-highlight txtTodos">12/05/2019</div>
                  </div>
                  <mat-divider></mat-divider>
                  <br>
                </div>
                <!--Sin preguntas-->
                <div class="container">
                  <h5>Aún no has hecho preguntas, ¡Anímate a hacer una nueva!</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="card">

              <div class="row justify-content-center py-3">
                <img class="icon-check mr-1" src="./../../../assets/icons/conversacion.svg">
                <h4>¡Haz tu pregunta!</h4>
              </div>

              <div class="container form col-md-12">
                <mat-form-field appearance="outline" class="field-login">
                  <mat-label>Pregunta:</mat-label>
                  <textarea matInput placeholder="Escribe tu duda" cdkTextareaAutosize cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="15"></textarea>
                </mat-form-field>
                <div class="container text-center p-2">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                      value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Idiomas
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                      value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                      Tecnologías
                    </label>
                  </div>
                </div>
                <div class="text-right pr-4 pb-3">
                  <button type="button" class="btn colorbtn">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>