.descridos {
  background-color: rgba(126, 124, 121, 0.068);
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}

.acordeon-enc3 {
  background-color: #48850f;
}
.acordeon-cuerpo3 {
  background-color: rgba(184, 179, 159, 0.055);
}

.mat-divider {
  border-top-width: 2px;
  border-top-style: dashed;
}
.divisor {
  border-right: 3px solid #ddd;
}

.icon-check {
  width: 20px;
}

.text-check {
  color: #aa8638;
  font-weight: bold;
  font-size: 1rem;
}
