<div class="col-md-12 p-0">
  <div class="row justify-content-center">
    <label class="h1 letracursotitulo mb-0"><b> {{infoCurso.nombreCompleto}} </b></label>
  </div>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <!-- Video Principal -->
    <div class="col-md-8">
      <div class="row justify-content-center">
        <video oncontextmenu="return false" controlsList="nodownload" id='videoId' class='video-js' controls
          preload='auto' width='600' height='300' [poster]='infoCurso.imagen'>
        </video>
      </div>
    </div>
    <!-- Video Principal -->

    <!-- Revision -->
    <div class="col-md-4">
      <form [formGroup]="revisionForm">
        <mat-card class="bordecolor">
          <div class="text-center">
            <p class="h5 subinscri">Revisión</p>
          </div>
          <!-- Precio -->
          <mat-form-field appearance="outline" class="field-login">
            <mat-label>Precio:</mat-label>
            <input type="number" matInput placeholder="Ingresa el precio:" required [(ngModel)]="infoCurso.precio"
              formControlName="precio">
          </mat-form-field>
          <!-- Descripción -->
          <mat-form-field appearance="outline" class="field-login">
            <mat-label>Notas:</mat-label>
            <textarea matInput placeholder="Agrega la descripción del curso" cdkTextareaAutosize cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="15" formControlName="notas" [(ngModel)]="infoCurso.notas"></textarea>
            <mat-error>
              <span *ngIf="!revisionForm.get('notas').valid && revisionForm.get('notas').touched">Agrega
                una descripción del curso.</span>
            </mat-error>
          </mat-form-field>
          <!--Opción Royal-->
          <div class="col-md-12 container mb-3">
            <p><b>Royal Language</b></p>
            <div class="input-group input-group-sm vertical-center">
              <mat-checkbox><img class="icon-check" src="./../../../assets/icons/royal.png">
                <span class="text-check">Royal</span></mat-checkbox>
            </div>

          </div>


          <div class="row">
            <div class="col-md-6 text-center">
              <button [disabled]="!revisionForm.valid" mat-button color="primary"
                (click)="aceptarCurso()">Aceptar</button>
            </div>
            <div class="col-md-6 text-right">
              <button [disabled]="!revisionForm.valid" mat-button color="warn"
                (click)="rechazarCurso()">Rechazar</button>
            </div>
          </div>
        </mat-card>
      </form>
    </div>
    <!-- Revision -->

  </div>
  <br>
  <!-- Descripción -->
  <div class="row">
    <div class="col-md-12">
      <div class="card descri">
        <div class="card-header paqueteshome text-center subtitulo">
          <h4><b>Descripción</b></h4>
        </div>
        <div class="card-body">
          {{infoCurso.descripcion}}
        </div>
      </div>
    </div>
  </div>
  <!-- Descripción -->
  <br>
  <!-- Objetivos -->
  <div class="row">
    <div class="col-md-12">
      <div class="card descri">
        <div class="card-header paqueteshome text-center subtitulo">
          <h4><b>¿Qué aprenderé?</b></h4>
        </div>
        <div class="card-body">
          <ul>
            <li *ngFor="let objetivo of infoCurso.objetivos" class="card-title">{{objetivo}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Objetivos -->
  <br>
  <!-- Temario -->
  <div class="row">
    <div class="col-md-12">
      <div class="card descri">
        <div class="card-header paqueteshome text-center subtitulo">
          <h4><b>Temario</b></h4>
        </div>
        <div class="card-body">
          <!--Acordeon-->
          <mat-accordion class="example-headers-align">
            <div class="col-md-12">
              <!--primer acordeon-->
              <mat-expansion-panel hideToggle="true" *ngFor="let unidad of infoCurso.contenidoCurso let i=index"
                class="acordeon-cuerpo3">
                <mat-expansion-panel-header class="acordeon-enc">
                  <mat-panel-title>
                    <b>Unidad {{i+1}}: {{unidad.unidad}}</b>
                  </mat-panel-title>
                  <mat-panel-description>
                    <span> </span>
                    <mat-icon>assignment</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <br>
                <!-- Contenido -->
                <mat-accordion class="example-headers-align">
                  <div class="col-md-12">
                    <!--primer acordeon-->
                    <mat-expansion-panel hideToggle="true" *ngFor="let subtema of unidad.subtemas; let j=index"
                      class="acordeon-cuerpo3">
                      <mat-expansion-panel-header class="acordeon-enc">
                        <mat-panel-title>
                          <b>Subtema {{j+1}}: {{subtema.subtema}}</b>
                        </mat-panel-title>
                        <mat-panel-description>
                          <span> </span>
                          <mat-icon>assignment</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <br>
                      <!-- Contenido -->
                      <ul>
                        <li *ngFor="let clase of subtema.clases">
                          {{clase.clase}}
                        </li>
                      </ul>
                    </mat-expansion-panel>
                    <!--primer acordeon-->
                  </div>
                </mat-accordion>
              </mat-expansion-panel>
              <!--primer acordeon-->
            </div>
          </mat-accordion>
          <!--Accordion-->
        </div>
      </div>
    </div>
  </div>
  <!-- Temario -->
  <br>
  <!-- Profesor -->
  <div class="row">
    <div class="col-md-12">
      <h4 class="pl-2"><b>Profesor Asignado</b></h4>
      <div class="card mb-12">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img [src]="infoMaestro.foto" class="card-img">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{infoMaestro.nombreCompleto}}</h5>
              <p class="card-text">{{infoMaestro.resumen}}</p>
              <button mat-button color="primary" [routerLink]="['/admin/usuario',infoMaestro.id]">Ver
                perfil</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Profesor -->
</div>