<div class="card">
  <div class="card-header paqueteshome text-center subtitulo">
    <h5><b>Mi Documentación</b></h5>
  </div>
  <div class="descridos container mx-auto">
    <div class="col-md-12">
      <div class="row pt-3">
        <h5 class="container">Currículum:</h5>
      </div>
      <div class="row">

        <div class="col-md-5 mb-3">
          <ul>
            <li>
              <a href="#">hola</a>
              <a href="#" class="ml-2 icon-remove"><img class="icon-edit" src="./../../../assets/icons/remover.svg"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <form>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Subir Recurso</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input">
                <label class="custom-file-label" for="inputGroupFile01">{{mensajeRecurso}}</label>
              </div>
            </div>
            <br>
            <button mat-stroked-button color="letrasuccess">Guardar <img class="icon-edit"
                src="./../../../assets/icons/save.svg"></button>

          </form>
        </div>

      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
      <div class="row">
        <h5 class="container">Identificación:</h5>
      </div>
      <div class="row">

        <div class="col-md-5 mb-3">
          <ul>
            <li>
              <a href="#">hola</a>
              <a href="#" class="ml-2 icon-remove"><img class="icon-edit" src="./../../../assets/icons/remover.svg"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <form>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Subir Recurso</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input">
                <label class="custom-file-label" for="inputGroupFile01">{{mensajeRecurso}}</label>
              </div>
            </div>
            <br>
            <button mat-stroked-button color="letrasuccess">Guardar <img class="icon-edit"
                src="./../../../assets/icons/save.svg"></button>

          </form>
        </div>

      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
      <div class="row">
        <h5 class="container">Certificaciones:</h5>
      </div>
      <div class="row">

        <div class="col-md-5 mb-3">
          <ul>
            <li>
              <a href="#">hola</a>
              <a href="#" class="ml-2 icon-remove"><img class="icon-edit" src="./../../../assets/icons/remover.svg"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <form>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Subir Recurso</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input">
                <label class="custom-file-label" for="inputGroupFile01">{{mensajeRecurso}}</label>
              </div>
            </div>
            <br>
            <button mat-stroked-button color="letrasuccess">Guardar <img class="icon-edit"
                src="./../../../assets/icons/save.svg"></button>

          </form>
        </div>

      </div>
      <br>
    </div>
  </div>
  <br>
</div>