.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.subcurso {
  text-shadow: 2px 2px 3px rgba(138, 138, 138, 0.84);
  color: #007791;
}

.acordeon-enc3 {
  background-color: #007791;
}
.acordeon-cuerpo3 {
  background-color: #f2f6f9;
}