<br>
<br>
<br>
<br>
<div class="col-md-12" style="background: #f2f6f9">
  <div class="text-center vertical-center">
    <label class="h3 pt-2">Configuración de Curso</label>
  </div>
  <!--Acordeon-->
  <mat-accordion class="example-headers-align">
    <div class="col-md-12">
      <!--primer acordeon-->
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header class="acordeon-enc">
          <mat-panel-title>
            <b>General</b>
          </mat-panel-title>
          <mat-panel-description>
            <span> </span>
            <mat-icon>assignment</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br>
        <!-- form -->
        <form [formGroup]="generalForm">
          <!--1 fila-->
          <div class="row">
            <div class="col-md-7 pl-4">
              <mat-form-field appearance="outline" class="field-login">
                <mat-label>Nombre completo del curso:</mat-label>
                <input matInput placeholder="Ingresa el nombre completo del curso" required
                  formControlName="nombreCompleto">
                <mat-error>
                  <span
                    *ngIf="!generalForm.get('nombreCompleto').valid && generalForm.get('nombreCompleto').touched">Agrega
                    un nombre para el curso.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!--1 fila-->
          <!--2 fila-->
          <div class="row">
            <div class="col-md-3 pl-4">
              <mat-form-field appearance="outline" class="field-login">
                <mat-label>Nombre corto del curso:</mat-label>
                <input matInput placeholder="Ingresa el nombre corto del curso" required formControlName="nombreCorto">
                <mat-error>
                  <span *ngIf="!generalForm.get('nombreCorto').valid && generalForm.get('nombreCorto').touched">Agrega
                    un nombre corto.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="field-login">
                <mat-label>Categoría del Curso:</mat-label>
                <select matNativeControl required formControlName="categoria">
                  <option *ngFor="let categoria of categorias" value={{categoria}}>{{categoria}}</option>
                </select>
                <mat-error>
                  <span *ngIf="!generalForm.get('categoria').valid && generalForm.get('categoria').touched">Selecciona
                    una categoria.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!--2 fila-->

          <!--3 fila-->
          <div class="row">
            <div class="col-md-3 pl-4">
              <mat-form-field appearance="outline" class="field-login">
                <mat-label>Subcategoría del Curso:</mat-label>
                <input type="text" placeholder="Selecciona o agrega uno" aria-label="Number" matInput
                  [matAutocomplete]="auto" formControlName="subcategoria"
                  (keyup)="filtrarSubcategoria($event.target.value)">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria">
                    {{subcategoria}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error>
                  <span
                    *ngIf="!generalForm.get('subcategoria').valid && generalForm.get('subcategoria').touched">Selecciona
                    o agrega una subcategoria.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="field-login">
                <mat-label>Tipo de Curso:</mat-label>
                <select matNativeControl required formControlName="tipo">
                  <option value="presencial">Presencial</option>
                  <option value="abierto">Abierto</option>
                </select>
                <mat-error>
                  <span *ngIf="!generalForm.get('tipo').valid && generalForm.get('tipo').touched">Selecciona
                    el tipo de Curso.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!--3 fila-->

          <!-- Fila 4 -->
          <div class="row">
            <div class="col-md-7 pl-4">
              <mat-form-field appearance="outline" class="field-login">
                <mat-label>Descripción del curso</mat-label>
                <textarea matInput placeholder="Agrega la descripción del curso" cdkTextareaAutosize
                  cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" formControlName="descripcion"></textarea>
                <mat-error>
                  <span *ngIf="!generalForm.get('descripcion').valid && generalForm.get('descripcion').touched">Agrega
                    una descripción del curso.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Fila 4 -->

          <!-- Fila 5 -->
          <div class="row">
            <div class="col-md-7 pl-4">
              <mat-form-field appearance="outline" class="field-login">
                <mat-label>Precio del curso:</mat-label>
                <input matInput placeholder="Ingresa el precio del curso" required formControlName="precio">
                <mat-error>
                  <span *ngIf="!generalForm.get('precio').valid && generalForm.get('precio').touched">Agrega
                    el del curso.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Fila 5 -->
        </form>
        <!-- form -->
        <mat-action-row>
          <button [disabled]="!generalForm.valid" mat-button color="primary" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>
      <!--primer acordeon-->

      <!--tercer acordeon-->
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header class="acordeon-enc">
          <mat-panel-title>
            <b>Temario</b>
          </mat-panel-title>
          <mat-panel-description>
            <span> </span>
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br>
        <div class="row pl-2">
          <div class="vertical-center">
            <label class="h4">Objetivos:</label>
            <button class="ml-3 btn btn-success" (click)="agregarObjetivo()"><img class="icon-opcion"
                src="./../../../assets/icons/edit.svg"> Agregar objetivo</button>
          </div>
        </div>

        <form [formGroup]="temarioForm">
          <!-- objetivos -->
          <div formArrayName="objetivos" *ngFor="let objetivoForm of objetivos.controls; let i = index">
            <div [formGroupName]="i">
              <div class="row">
                <div class="col-md-7">
                  <mat-form-field appearance="outline">
                    <mat-label>Objetivo:</mat-label>
                    <input matInput placeholder="Ingresa un objetivo" required formControlName="objetivo">
                    <mat-error>
                      <span *ngIf="!objetivoForm.valid && objetivoForm.touched">Agrega un objetivo.</span>
                    </mat-error>
                  </mat-form-field>

                </div>
                <div class="col-md-2 vertical-center">
                  <button mat-button color="warn" (click)="removerObjetivo(i)">Remover</button>
                </div>
              </div>
            </div>
          </div>
          <!-- objetivos -->
          <br>
          <br>

          <label class="h4">Temario:</label>

          <!-- Unidades -->
          <div formArrayName="unidades" *ngFor="let unidad of unidades.controls; let i = index">
            <br>
            <label class="h6">Unidad {{i+1}}</label>
            <br>
            <div [formGroupName]="i">
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field appearance="outline">
                    <mat-label>Unidad {{i+1}}:</mat-label>
                    <input matInput placeholder="Ingresa el nombre de la unidad" required formControlName="unidad">
                    <mat-error>
                      <span *ngIf="!unidad.valid && unidad.touched">Agrega el nombre de la unidad.</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2 vertical-center">
                  <button mat-button color="warn" (click)="removerUnidad(i)">Remover</button>
                </div>
              </div>
              <div class="align-subtemas">
                <label class="h5 text-right">Subtemas:</label>
                <!-- Temas -->
                <div formArrayName="subtemas" *ngFor="let subtema of subtemas(i).controls; let j = index">
                  <div [formGroupName]="j">
                    <div class="row">
                      <div class="col-md-7">
                        <mat-form-field appearance="outline">
                          <mat-label>Subtema {{j+1}}:</mat-label>
                          <input matInput placeholder="Ingresa el nombre del subtema" required
                            formControlName="subtema">
                          <mat-error>
                            <span *ngIf="!subtema.valid && subtema.touched">Agrega el nombre del subtema.</span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-2 vertical-center">
                        <button mat-button color="warn" (click)="removerSubtema(i,j)">Remover</button>
                      </div>
                    </div>
                    <div class="align-clases">
                      <label class="h5 text-right">Clases:</label>
                      <!-- Clases -->
                      <div formArrayName="clases" *ngFor="let clase of clases(i,j).controls; let k = index">
                        <div [formGroupName]="k">
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Clase {{k+1}}:</mat-label>
                                <input matInput placeholder="Ingresa el nombre de la clase" required
                                  formControlName="clase">
                                <mat-error>
                                  <span *ngIf="!clase.valid && clase.touched">Agrega el nombre de la clase.</span>
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-2 vertical-center">
                              <button mat-button color="warn" (click)="removerClase(i,j,k)">Remover</button>
                            </div>
                          </div>

                        </div>
                      </div>
                      <!-- Clases -->
                      <button class="btn btn-success" (click)="agregarClase(i,j)"><img class="icon-opcion"
                          src="./../../../assets/icons/edit.svg"> Agregar clase a subtema {{j+1}} unidad {{i+1}}
                      </button>
                    </div>
                  </div>

                </div>
                <!-- Temas -->
                <button class="btn btn-success" (click)="agregarSubtema(i)"><img class="icon-opcion"
                    src="./../../../assets/icons/edit.svg"> Agregar subtema a unidad {{i+1}}</button>
              </div>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
          </div>
          <!-- Unidades -->
        </form>
        <button class="ml-3 btn btn-success" (click)="agregarUnidad()"><img class="icon-opcion"
            src="./../../../assets/icons/edit.svg"> Agregar unidad</button>

        <mat-action-row>
          <button mat-button color="warn" [routerLink]="['../']">Cancelar</button>
          <button mat-button
            [disabled]="!(generalForm.valid && temarioForm.valid && temarioForm.value.objetivos.length!=0 && temarioForm.value.unidades.length!=0)"
            color="primary" (click)="subir()">Subir</button>
        </mat-action-row>
      </mat-expansion-panel>
      <!--tercer acordeon-->
    </div>
  </mat-accordion>
  <!--Acordeon-->
  <br>
  <br>
</div>
<br><br><br><br><br><br><br><br>