<div class="col-md-12">
  <div class="card">
    <div class="card-header paqueteshome text-center text-white">
      Certificados
    </div>
    <div class="card-body descri">
      <div class="col-md-12 text-center" *ngIf="certificados.length==0">
        <label class="mt-2 ml-2 h3">Aún no tienes ningún certificado.</label>
      </div>
      <div class="row">
        <div class="card mb-3 mx-3" style="max-width: 350px;" *ngFor="let certificado of certificados">

          <div class="row no-gutters">
            <div class="col-md-4 vertical-center">
              <div class="imgLiquidFill imgLiquid card-img" style="width:100px; height:100px;">
                <img [src]="certificado.imagen" width="100" height="100" class="sombraimg ml-3">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="row">
                  <h5 class="card-title">{{certificado.nombreCurso}}</h5>
                  <p class="card-text">Fecha de Obtención: {{certificado.fecha | date}}</p>
                  <div class="col-md-12 text-right">
                    <a [href]="certificado.url" target="_blank" rel="noopener noreferrer">
                      <button mat-mini-fab color="success">
                        <img class="icon-check" src="./../../../assets/icons/down.svg">
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>