<div class=”main-container”>
  <header>
    <nav class="navbar navbar-light blue-grey lighten-5 navbar-expand-sm fixed-top scrolling-navbar img-posicion">
      <a class="nav-item active pl-2" [routerLink]="['/admin']">
        <img class="icon-nav-home" src="./../../../assets/icons/royal.png">
      </a>
      <div class="collapse navbar-collapse row col-md-12" id="navbarSupportedContent">


        <!--Pagos-->
        <div class="col-md-1 offset-md-9 vertical-center nav-item active ">
          <button mat-button [matMenuTriggerFor]="comunidad" class="p-0">
            <img class="icon-nav" src="./../../../assets/icons/pagos2.svg">
            <p class="salto_pag mb-0">Pagos</p>
          </button>
          <mat-menu #comunidad="matMenu" class="fondo-navbar">
            <button mat-menu-item>
              <i class="fas fa-credit-card"></i> Pagos
            </button>
            <button mat-menu-item>
              <i class="far fa-credit-card"></i> Cobros
            </button>
            <button mat-menu-item>
              <i class="fas fa-file-alt"></i> Historial
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <i class="fas fa-cog"></i> Configuración
            </button>
          </mat-menu>
        </div>
        <!--Pagos-->


        <!--Mi perfil-->
        <div class="col-md-1 offset-md-1 vertical-center">
          <button mat-button [matMenuTriggerFor]="miperfil" class="p-0">
            <img class="icon-nav" src="./../../../assets/icons/perfil-m.svg" *ngIf="sexo==2"><img class="icon-nav"
              src="./../../../assets/icons/perfil-h.svg" *ngIf="sexo==1"><img class="icon-nav"
              src="./../../../assets/icons/perfil-i.svg" *ngIf="sexo==3">
            <p class="salto_pag mb-0">{{usuario}}</p>
          </button>
          <mat-menu #miperfil="matMenu" class="fondo-navbar">
            <button mat-menu-item>
              <i class="fas fa-user pr-1"></i>Mi Perfil
            </button>
            <button mat-menu-item>
              <i class="fas fa-at pr-1"></i>Cuenta
            </button>
            <button mat-menu-item>
              <i class="fas fa-credit-card pr-1"></i>Métodos de Pago
            </button>
            <button mat-menu-item>
              <i class="fas fa-file-alt"></i> Historial de Compra/Pago
            </button>
            <button mat-menu-item>
              <i class="fas fa-award"></i> Certificados
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
              <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
            </button>
          </mat-menu>
        </div>
        <!--Perfil-->
      </div>

      <!--Toggler button-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <!--icono del toggler bar (las tres lienas que salen al compactar la página)-->
      </button>
      <!--Toggler button-->
    </nav>
  </header>
  <router-outlet></router-outlet>

  <footer class="page-footer font-small stylish-color-dark pt-4">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://raise-technology.com/">Raise Technology</a>
    </div>
  </footer>
</div>