<!--Unidad-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header  paqueteshome text-center text-white">
        <b>Unidad {{unidad}}: {{nombreUnidad}}</b>
      </div>
      <div class="container descridos pl-4">
        <form [formGroup]="subtemasForm">
          <!-- Subtemas -->
          <div formArrayName="subtemas" *ngFor="let subtema of subtemas.controls; let i = index">
            <br>
            <label class="h6">Subtema {{i+1}}</label>
            <br>
            <div [formGroupName]="i">
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field appearance="outline">
                    <mat-label>Subtema {{i+1}}:</mat-label>
                    <input matInput placeholder="Ingresa el nombre del subtema" required formControlName="subtema">
                    <mat-error>
                      <span *ngIf="!subtema.valid && subtema.touched">Agrega el nombre del subtema.</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2 vertical-center">
                  <a (click)="removerSubtema(i)"><img class="icon-remove" src="./../../../assets/icons/remover.svg"></a>
                </div>
              </div>
              <div class="align-subtemas">
                <label class="h5 text-right">Clases:</label>
                <!-- Clases -->
                <div formArrayName="clases" *ngFor="let clase of clases(i).controls; let j = index">
                  <div [formGroupName]="j">
                    <div class="row">
                      <div class="col-md-9">
                        <mat-form-field appearance="outline">
                          <mat-label>Clase {{j+1}}:</mat-label>
                          <input matInput placeholder="Ingresa el nombre de la clase" required formControlName="clase">
                          <mat-error>
                            <span *ngIf="!clase.valid && clase.touched">Agrega el nombre de la clase.</span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-2 vertical-center">
                        <a (click)="removerClase(i,j)"><img class="icon-remove"
                            src="./../../../assets/icons/remover.svg"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Clases -->
                <button class="btn btn-success" (click)="agregarClase(i,j)"><img class="icon-opcion"
                    src="./../../../assets/icons/agregar.svg"> Agregar clase a subtema {{i+1}}
                </button>
              </div>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
          </div>
          <!-- Subtemas -->
        </form>
        <div class="row m-2">
          <div class="col-md-6 pt-1">
            <button class="ml-3 btn btn-success" (click)="agregarSubtema()"><img class="icon-opcion"
                src="./../../../assets/icons/agregar.svg"> Agregar subtema</button>
          </div>
          <div class="col-md-6">
            <button mat-button color="warn" [routerLink]="['../../']">Cancelar</button>
            <button mat-button [disabled]="!(subtemasForm.valid && subtemasForm.value.subtemas.length!=0)"
              color="primary" (click)="subir()">Subir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!--Unidad-->