<!--Subtema-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header paqueteshome text-center text-white">
        <b>Subtema {{subtema}}: {{nombreSubtema}}</b>
      </div>
      <div class="container descridos pl-4">
        <form [formGroup]="clasesForm">
          <!-- Clases -->
          <div formArrayName="clases" *ngFor="let clase of clases.controls; let i = index">
            <br>
            <label class="h6">Clase {{i+1}}</label>
            <br>
            <div [formGroupName]="i">
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field appearance="outline">
                    <mat-label>Clase {{i+1}}:</mat-label>
                    <input matInput placeholder="Ingresa el nombre del clase" required formControlName="clase">
                    <mat-error>
                      <span *ngIf="!clase.valid && clase.touched">Agrega el nombre del clase.</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2 mt-3">
                  <a (click)="removerClase(i)"><img class="icon-remove" src="./../../../assets/icons/remover.svg"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Clases -->
        </form>
        <div class="row m-2">

          <div class="col-md-6 pt-1">
            <button class="ml-3 btn btn-success" (click)="agregarClase()"><img class="icon-opcion"
                src="./../../../assets/icons/agregar.svg"> Agregar Clase</button>
          </div>
          <div class="col-md-6">
            <button mat-button color="warn" [routerLink]="['../../../']" class="m-3">Cancelar</button>
            <button mat-button [disabled]="!(clasesForm.valid && clasesForm.value.clases.length!=0)" color="primary"
              (click)="subir()" class="m-3">Subir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!--Subtema-->