.letrablanca {
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

.txtprom {
  font-size: 70px;
  font-weight: bold;
}

.barra {
  line-height: 1.4;
}

.imgicon {
  width: 30px;
}

.txtTodos {
  color: #3a383893;
  font-weight: bold;
}

.negrita {
  font-weight: bold;
}

.encabezado {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.colorbtn {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.cuerpo {
  background-color: #083f477e;
}

.descri {
  background-color: rgba(126, 124, 121, 0.068);
  border-radius: 19px 19px 19px 19px;
}
.descridos {
  background-color: rgba(126, 124, 121, 0.068);
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}

.preciocar {
  color: #bc8f37;
  text-shadow: -1px 2px 2px #020101;
  font-size: 2rem;
  font-weight: bold;
}

.icon-check {
  width: 20px;
}

.encuadre {
  border: 2px solid #ddd;
}

.divisorder {
  border-right: 2px solid #ddd;
}

.backinsignias {
  background-color: rgba(252, 234, 79, 0.219);
}

