<br>
<br>
<br>
<br>
<div class="col-md-12">
  <div class="card-header paqueteshome text-center text-white" *ngIf="evaluacion">
    <h1>
      Evaluación
    </h1>
  </div>
  <div class="container divisorbot">
    <div class="row pl-5">
      <label class="h1 letracursotitulo mb-0"><b> {{infoClase.clase}} </b></label>
    </div>
  </div>
  <br>
  <div class="row px-0" style="background-color:rgb(0, 0, 0)">
    <div class="container">
      <div class="col-md-10 offset-md-1">
        <div class="video" [hidden]="!video">
          <video oncontextmenu="return false" controlsList="nodownload" id='videoId' class='video-js' controls
            preload='auto' width='900' height='500' [poster]='infoCurso.imagen'>
          </video>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="container px-5">
    <div class="col-md-12">
      <div [innerHTML]="infoClase.texto"></div>
      <br>
      <br>
      <div class="row" *ngIf="infoClase.recursos.activo">
        <div class="col-md-12">
          <!--Recursos-->
          <div class="card descridos">
            <div class="card-header paqueteshome text-center text-white">
              Recursos
            </div>
            <div class="card-body">
              <ul>
                <li *ngFor="let url of infoClase.recursos.urls" class="card-title">
                  <a target="_blank" rel="noopener noreferrer" [href]="url.urlRecurso">{{url.textoRecurso}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <!--Tareas-->
      <div class="row" *ngIf="infoClase.tarea.activo">
        <div class="col-md-12">
          <div class="card descridos">
            <div class="card-header paqueteshome text-center text-white">
              Tarea
            </div>
            <div class="card-body">
              <div class="container divisorbot">
                {{infoClase.tarea.instruccion}}
              </div>
              <div class="subir col-md-6 offset-md-3 mt-3" *ngIf="!tareaEntregada">
                <form [formGroup]="tareaForm">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Subir Tarea</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input text-truncate" formControlName="tarea"
                        (change)="seleccionarTarea($event)">
                      <label class="custom-file-label text-truncate" for="inputGroupFile01">{{mensajeTarea}}</label>
                    </div>
                  </div>
                  <div class="mt-3 text-center">
                    <button mat-stroked-button (click)="subirTarea()" color="letrasuccess">Guardar</button>
                    <mat-progress-bar *ngIf="!finalizadoTarea" mode="determinate" [value]="porcentajeTarea">
                    </mat-progress-bar>
                  </div>
                </form>
              </div>
              <br>
              <div *ngIf="tareaEntregada">
                <div class="container">
                  <a target="_blank" rel="noopener noreferrer" [href]="infoTarea.tarea">Archivo:
                    {{infoTarea.nombreTarea}}</a>
                  <br>
                  <div *ngIf="infoTarea.estatus==0">
                    <h5>Sin revisar</h5>
                  </div>
                  <div *ngIf="!(infoTarea.estatus==0)">
                    <div *ngIf="infoTarea.estatus==1">
                      <h5> Aprobado!</h5>
                      <p>{{infoTarea.retroalimentacion}}</p>
                    </div>
                    <div *ngIf="infoTarea.estatus==2">
                      <h5>Rechazado. Vuelve a intentarlo</h5>
                      <p>{{infoTarea.retroalimentacion}}</p>
                    </div>
                  </div>
                  <div class="mt-3 text-left" *ngIf="!(infoTarea.estatus==1)">
                    <button class="btn-md p-1 mb-2 " mat-raised-button color="warn" (click)="eliminarTarea()">
                      Eliminar archivo
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Respuestas -->
      <div class="card" id="respuesta">
        <div class="card-header paqueteshome text-center text-white">
          <b>
            Comentarios ({{infoRespuestas.length}})
          </b>
        </div>
        <div class="card-body">
          <div class="container">

            <!-- Respuestas -->
            <div class="card mb-12 descri mb-4 pl-2"
              *ngFor="let respuesta of infoRespuestas | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
              <div class="row no-gutters">
                <div class="col-md-2 px-2">
                  <div class="imgLiquidFill imgLiquid mt-4 " style="width:100px; height:100px;">
                    <img [src]="respuesta.foto" class="card-img rounded-circle sombrabaja" alt="Cinque Terre"
                      width="100" height="100">
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title row">
                      <div class="col-md-1">
                        <button class="unstyled-button" data-toggle="tooltip" data-placement="top"
                          title="Reportar comentario" (click)="reportarComentarioN1(respuesta.i)">
                          <img class="icon-report" src="./../../../assets/icons/reportar.svg">
                        </button>
                      </div>
                      <div class="col-md-7">
                          <a
                          [routerLink]="(respuesta.maestro)?['/perfil-maestro',respuesta.ruta]:['/alumno/perfil-publico',respuesta.ruta]">{{respuesta.nombreCompleto}}</a>
                      </div>
                      <div class="col-md-4 subtitulo text-center" *ngIf="respuesta.maestro">
                        <p class="fondomaestro mx-3 sombrabaja ">Maestro</p>

                      </div>
                    </h5>
                    {{respuesta.comentario}}
                    <div class="p-2 d-flex justify-content-between txtTodos">
                      <p class="text-muted"> {{respuesta.fecha | date}}</p>
                      <button type="button" class="btn colorbtn" (click)="responder(i)">Responder</button>
                    </div>
                  </div>
                  <mat-divider> </mat-divider>
                  <!-- Respuesta al comentario -->
                  <div *ngFor="let resp of respuesta.respuestas">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <div class="imgLiquidFill imgLiquid mt-3 " style="width:90px; height:90px;">
                          <img [src]="resp.foto" class="card-img rounded-circle sombrabaja" alt="Cinque Terre"
                            width="90" height="90">

                        </div>
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <h5 class="card-title row">
                            <div class="col-md-1">
                              <button class="unstyled-button" data-toggle="tooltip" data-placement="top"
                                title="Reportar comentario" (click)="reportarComentarioN2(resp.i,resp.j)"><img
                                  class="icon-report" src="./../../../assets/icons/reportar.svg"></button>
                            </div>
                            <div class="col-md-7">
                                <a
                                [routerLink]="(resp.maestro)?['/perfil-maestro',resp.ruta]:['/alumno/perfil-publico',resp.ruta]">{{resp.nombreCompleto}}</a>
                            </div>
                            <div class="col-md-4 subtitulo text-center" *ngIf="resp.maestro">
                              <p class="fondomaestro mx-3 sombrabaja ">Maestro</p>
                            </div>
                          </h5>
                          {{resp.comentario}}
                          <div class="p-2 bd-highlight txtTodos">
                            {{resp.fecha | date}}
                          </div>
                        </div>
                        <mat-divider> </mat-divider>
                      </div>
                    </div>
                  </div>
                  <!-- Respuesta al comentario -->
                  <div *ngIf="responderIndex==i">
                    <mat-form-field appearance="outline" class="field-login">
                      <textarea matInput placeholder="Agrega un comentario" cdkTextareaAutosize cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="10" [(ngModel)]="respuestaCom"></textarea>
                    </mat-form-field>

                    <div class="text-right pr-4 pb-3">
                      <button [disabled]="respuestaCom==''" type="button" class="btn colorbtn"
                        (click)="enviarRespuestaCom(respuesta.i)">Enviar</button>
                      <button type="button" class="btn btn-danger" (click)="responderIndex=-1">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
            <!-- Respuestas -->
            <mat-divider></mat-divider>
            <br>
            <form [formGroup]="respuestaForm">
              <h5 id="caja"> Respuesta:</h5>
              <mat-form-field appearance="outline" class="field-login">
                <textarea matInput placeholder="Agrega un comentario" cdkTextareaAutosize cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="10" formControlName="respuesta"></textarea>
              </mat-form-field>
              <div class="text-right pr-4 pb-3">
                <button [disabled]="!respuestaForm.valid || respuestaForm.value.respuesta==' '" type="button"
                  class="btn colorbtn" (click)="enviarRespuesta()">Enviar</button>
              </div>
            </form>
            <br>
          </div>
        </div>
      </div>
      <!-- Respuestas -->

      <div class="row justify-content-between">
        <div class="col-4 text-right">
          <button class="btn-md p-1 mb-2" mat-raised-button color="primary" [routerLink]="['../../../../']">
            Volver
          </button>
        </div>
        <div class="col-4">
          <button class="btn-md p-1 mb-2" mat-raised-button color="success" (click)="claseSiguiente()">
            Siguiente clase
          </button>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>