<br>
<br>
<br>
<br>
<div class="col-md-12">
  <div class="container text-right txtTodos">
    <h5><b>Categoría: {{categoria}}</b></h5>
  </div>
</div>

<div class="col-md-12 px-0 paqueteshome">
  <div class="container">
    <div class="row ">
      <h2 class="p-2 letracursotitulo"><b>Comunidad</b></h2>
    </div>
  </div>
</div>
<br>
<div class="col-md-12">
  <div class="container">
    <label>Escribe una duda en el foro y la revisarán integrantes de la comunidad.</label>
  </div>
</div>

<br>

<div class="col-md-12">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <!--Dudas-->
          <div class="card">
            <!--Foro-->
            <div class="container">
              <br>
              <h4 class="pl-2 mb-0"><b>Foro</b></h4>
            </div>
            <div class="col-md-12 mt-1">
              <mat-divider></mat-divider>
              <br>
              <ul class="list-unstyled field-login" *ngFor="let pregunta of listaPreguntas">
                <li class="media">
                  <div class="imgLiquidFill imgLiquid" style="width:100px; height:100px;">
                    <img [src]="pregunta.foto" class="mr-3" alt="..." width="100" height="100">
                  </div>

                  <div class="d-flex flex-column bd-highlight text-center mr-2" style="height: 200px;">
                    <div class="p-2 bd-highlight">
                      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Insignias">
                        <img class="imgicon" src="./../../../assets/icons/insignia.svg" />
                      </span>
                    </div>
                    <div>
                      <label>{{pregunta.insignias}}</label>
                    </div>
                    <div class="p-2 bd-highlight">
                      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cursos">
                        <img class="imgicon" src="./../../../assets/icons/libro.svg" />
                      </span>
                    </div>
                    <div>
                      <label>{{pregunta.cursos}}</label>
                    </div>
                    <div class="p-2 bd-highlight txtTodos">{{pregunta.fecha | date}}</div>
                  </div>
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">{{pregunta.pregunta}}</h5>
                    {{pregunta.detalles}}
                    <div class="row justify-content-between">
                      <div class="py-2 pl-5 vertical-center">
                        <a [routerLink]="['/comunidad/pregunta',pregunta.ruta]"
                          routerLinkActive="router-link-active">Ver respuestas</a>
                      </div>
                      <div class="pr-5">
                        <button type="button" class="btn btn-success btn-sm">Responder</button>
                      </div>
                    </div>
                  </div>
                </li>
                <mat-divider></mat-divider>
              </ul>

            </div>

            <!--fin foro-->
          </div>
          <!--fin dudas-->
        </div>
      </div>
      <!--Div hacer pregunta-->
      <div class="col-md-4 pl-4">
        <div class="container">
          <div class="card descri">

            <div class="row justify-content-center py-3">
              <img class="icon-check mr-1" src="./../../../assets/icons/conversacion.svg">
              <h4>¡Haz tu pregunta!</h4>
            </div>

            <div class="container form col-md-12">
              <form [formGroup]="preguntaForm">
                <mat-form-field appearance="outline" class="field-login">
                  <mat-label>Pregunta:</mat-label>
                  <app-ngx-editor></app-ngx-editor>

                  <textarea matInput placeholder="Escribe tu duda" cdkTextareaAutosize cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="15" formControlName="pregunta"></textarea>
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!preguntaForm.get('pregunta').valid && preguntaForm.get('pregunta').touched">Agrega tu
                    pregunta</span>
                </mat-error>
                <div class="text-right pr-4 pb-3">
                  <button [disabled]="!preguntaForm.valid || iduser" type="button" class="btn colorbtn"
                    (click)="hacerPregunta()">Enviar</button>
                </div>
              </form>
            </div>
          </div>
          <!--Insignias del curso-->
          <div class="row">
            <div class="row px-4">
              <h4 class="txtTodos p-2">Insignias del curso</h4>
              <div class="jumbotron backinsignias">
                <p class="lead text-center">¡Respondiendo dudas podrás ganar más insignias!</p>
                <hr class="my-4">
                <div class="d-flex flex-wrap bd-highlight mb-3">
                  <div class="p-2 bd-highlight">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cursos">
                      <img class="imgicon" src="./../../../assets/icons/libro.svg" />
                    </span>
                  </div>
                  <div class="p-2 bd-highlight">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cursos">
                      <img class="imgicon" src="./../../../assets/icons/libro.svg" />
                    </span>
                  </div>
                  <div class="p-2 bd-highlight">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cursos">
                      <img class="imgicon" src="./../../../assets/icons/libro.svg" />
                    </span>
                  </div>
                  <div class="p-2 bd-highlight">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cursos">
                      <img class="imgicon" src="./../../../assets/icons/libro.svg" />
                    </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>