<br>
<br>
<br>
<!--carrousel-->

<div class="carrusel  px-0 pt-3" style="background-color:rgb(37, 35, 35)">

  <div class="col-md-9 container">

    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
      <!--First slide-->
      <mdb-slide>
        <video class="video-fluid" autoplay loop>
          <source src="../../../../assets/videos-prueba/Tropical.mp4" type="video/mp4" />
        </video>
      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
        <video class="video-fluid" autoplay loop>
          <source src="../../../../assets/videos-prueba/forest.mp4" type="video/mp4" />
        </video>
      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
        <video class="video-fluid" autoplay loop>
          <source src="../../../../assets/videos-prueba/Agua-natural.mp4" type="video/mp4" />
        </video>
      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>
    <!--Carousel Wrapper-->

  </div>
</div>
<!--Cierre carrousel-->
<br><br>
<!--categorias-->
<div class="categorias container mx-auto">
  <p class="h3 font-weight-bold text-center bg-warning text-dark">CATEGORÍAS</p> <br>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Tecnologías">
      <div class="Tecnologias">
        <br>
        <div class="row col-md-12 mb-3">
          <div class="col-md-2 card fondocard mx-3 mb-2 sombrabaja" *ngFor="let curso of cursosTec">

            <div class="imgLiquid view overlay zoom z-depth-1 rounded mt-3" style="max-width:200px; height:150px;">
              <img class="card-img-top" [src]="curso.imagen" alt="Card image cap" max-width="200" height="150">
            </div>
            <div class="card-body text-center px-1">
              <h5 class="card-title text-wrap text-center">{{curso.nombreCorto}}</h5>
              <p class="card-text d-inline-block text-truncate" style="max-width: 150px;">{{curso.descripcionCurso}}
              </p>
              <p><b>$ {{curso.precio}}</b></p>
              <a class="btn btn-primary" [routerLink]="['curso',curso.ruta,'vista']">Ver curso</a>
            </div>

          </div>
        </div>
      </div>
      <!--Botones Categorias-->
      <div class="row col-md-12">
        <div class="col-md-12 text-right pr-5 ">
          <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/categoria/tecnología']">Ver más
            cursos...</button>
        </div>
      </div>
      <!--Cierre Botones Categorias-->
    </mat-tab>
    <mat-tab label="Idiomas">
      <div class="Idiomas">
        <br>
        <div class="row col-md-12 mb-3">
          <div class="col-md-2 card fondocard mx-3 mb-2 sombrabaja" *ngFor="let curso of cursosIdiomas">

            <div class="imgLiquid view overlay zoom z-depth-1 rounded mt-3" style="max-width:200px; height:150px;">
              <img class="card-img-top" [src]="curso.imagen" alt="Card image cap" max-width="200" height="150">
            </div>
            <div class="card-body text-center px-1">
              <h5 class="card-title text-wrap text-center">{{curso.nombreCorto}}</h5>
              <p class="card-text d-inline-block text-truncate" style="max-width: 150px;">{{curso.descripcionCurso}}
              </p>
              <p><b>$ {{curso.precio}}</b></p>
              <a class="btn btn-primary" [routerLink]="['curso',curso.ruta,'vista']">Ver curso</a>
            </div>

          </div>
        </div>
      </div>
      <!--Botones Categorias-->
      <div class="row col-md-12">
        <div class="col-md-12 text-right pr-5 ">
          <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/diario/entradas']">Ver
            más...</button>
        </div>
      </div>
      <!--Cierre Botones Categorias-->
    </mat-tab>
  </mat-tab-group>

</div>
<!--Cierre Categorías-->

<!--comunidad-->
<div class="categorias container mx-auto">
  <p class="h3 font-weight-bold text-center bg-warning text-dark">COMUNIDADES MÁS ACTIVAS</p> <br>
  <br>
  <div class="row">
    <div class="col-md-5 mb-3">
      <h4>Diario</h4>
      <br>
      <mat-card>
        <table mat-table [dataSource]="dataSourceDiario">

          <!-- Columna Lugar -->
          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ° </th>
            <td mat-cell *matCellDef="let row;let i=index">
              <img *ngIf="(i==0)" class="icon-opcion" src="./../../../../assets/icons/palomita.svg"> <!-- Oro -->
              <img *ngIf="(i==1)" class="icon-opcion" src="./../../../../assets/icons/tache.svg"> <!-- Plata -->
              <img *ngIf="(i==2)" class="icon-opcion" src="./../../../../assets/icons/edit.svg"> <!-- Bronce -->
              <span *ngIf="(i>2)">{{i+1}}°</span>
            </td>
          </ng-container>

          <!-- Columna Nombre Categoria -->
          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria</th>
            <td mat-cell *matCellDef="let row"> {{row.categoria}} </td>
          </ng-container>

          <!-- Columna Fecha -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultima pregunta </th>
            <td mat-cell *matCellDef="let row"> {{row.fecha|date}} </td>
          </ng-container>

          <!-- Columna Num -->
          <ng-container matColumnDef="conteo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let row">{{row.conteo}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="colDiario"></tr>
          <tr mat-row *matRowDef="let row; columns: colDiario;">
          </tr>
        </table>
      </mat-card>
      <div class="col-md-12 text-right pr-2">
        <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/diario/entradas']">Ver más
          entradas...</button>
      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col-md-5 mb-3">
      <h4>Preguntas</h4>
      <br>
      <mat-card>
        <table mat-table [dataSource]="dataSourcePreguntas">

          <!-- Columna Lugar -->
          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ° </th>
            <td mat-cell *matCellDef="let row;let i=index">
              <img *ngIf="(i==0)" class="icon-opcion" src="./../../../../assets/icons/palomita.svg"> <!-- Oro -->
              <img *ngIf="(i==1)" class="icon-opcion" src="./../../../../assets/icons/tache.svg"> <!-- Plata -->
            </td>
          </ng-container>

          <!-- Columna Nombre Categoria -->
          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria</th>
            <td mat-cell *matCellDef="let row">
              <a *ngIf="row.categoria=='tecnologia'" [routerLink]="['/comunidad/tecnologia']">Tecnología</a>
              <a *ngIf="row.categoria!='tecnologia'" [routerLink]="['/comunidad/idiomas']">Idiomas</a>
              {{row.categoria}}
            </td>
          </ng-container>

          <!-- Columna Fecha -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultima pregunta </th>
            <td mat-cell *matCellDef="let row"> {{row.fecha|date}} </td>
          </ng-container>

          <!-- Columna Num -->
          <ng-container matColumnDef="conteo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let row">{{row.conteo}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="colPreguntas"></tr>
          <tr mat-row *matRowDef="let row; columns: colPreguntas;">
          </tr>
        </table>
      </mat-card>
    </div>
  </div>
</div>
<!--Cierre Comunidad-->
<br><br>