.mat-divider {
  border-top-width: 2px;
  border-top-style: dashed;
}
.divisor {
  border-right: 3px solid #ddd;
}

.icon-check {
  width: 20px;
}

.text-check {
  color: #aa8638;
  font-weight: bold;
  font-size: 1.3rem;
}

.preciochico {
  color: #bc8f37;
  text-shadow: -1px 2px 2px #020101;
  font-size: 1.4rem;
  font-weight: bold;
}
