<br><br><br><br>

<div class="row col-md-12">


  <div class="col md-4 mt-1 example-1 ">

    <div class="card text-white bg-dark  font-weight-bold text-center list-group">

      <a class="list-group-item list-group-item-action" href="#" style="font-size:25px;"> <img class="icon-nav"
          src="./../../../assets/icons/cursos.svg">MIS CURSOS</a>

      <a class="list-group-item list-group-item-action  text-left" href="#" style="font-size:20px;"> <img
          class="icon-nav" src="./../../../assets/icons/cursos.svg">Diseño Web</a>
      <a class="list-group-item list-group-item-action  text-left" href="#" style="font-size:20px;"> <img
          class="icon-nav" src="./../../../assets/icons/cursos.svg">Programación</a>
      <a class="list-group-item list-group-item-action  text-left" href="#" style="font-size:20px;"> <img
          class="icon-nav" src="./../../../assets/icons/cursos.svg">Inglés II</a>


    </div>

  </div>
  <!--carrousel-->
  <div class="col-md-8 ">
    <div class="carrusel  px-0 pt-1">
      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <!--First slide-->
        <mdb-slide>
          <video class="video-fluid" autoplay loop>
            <source src="../../../../assets/videos-prueba/Tropical.mp4" type="video/mp4" />
          </video>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
          <video class="video-fluid" autoplay loop>
            <source src="../../../../assets/videos-prueba/forest.mp4" type="video/mp4" />
          </video>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
          <video class="video-fluid" autoplay loop>
            <source src="../../../../assets/videos-prueba/Agua-natural.mp4" type="video/mp4" />
          </video>
        </mdb-slide>
        <!--/Third slide-->
      </mdb-carousel>
      <!--Carousel Wrapper-->
    </div>
  </div>
  <!--Cierre carrousel-->
</div>
<br>
<!--Nuevo Curso-->
<div class="row col-md-12">
  <div class="categorias container mx-auto">
    <p class="h3 font-weight-bold text-center bg-warning text-dark">¿NUEVO CURSO?</p> <br>
    <!--Botones Paquetes-->
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-success btn-lg text-dark">Crear nuevo curso</button></div>
    <!--Cierre Botones Paquetes-->
  </div>
</div>
<br><br>