<br>
<br>
<br>
<br>
<div class="row col-md-12">
  <div class="col-md-4 mt-1" style="height: 500px; overflow-y: scroll;">
    <div class="card font-weight-bold text-center list-group">
      <a class="list-group-item list-group-item-action btn-warning btn btn-block mat-elevation-z8 subtitulo"
        style="font-size:25px;" [routerLink]="['/maestro']" style="font-size:25px;"> <img class="icon-nav mr-2"
          src="./../../../assets/icons/cursos.svg"><b>MIS CURSOS</b></a>
      <mat-accordion class="example-headers-align">
        <div class="col-md-12">
          <!--primer acordeon-->
          <mat-expansion-panel hideToggle="true" *ngFor="let curso of listaCursos">
            <mat-expansion-panel-header class="acordeon-enc">
              <mat-panel-title>
                <b>{{curso.nombre}}</b>
              </mat-panel-title>
              <mat-panel-description>
                <span> </span>
                <img class="icon-nav mr-2" src="./../../../assets/icons/cursos.svg">
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
              style="font-size:20px;" [routerLink]="['/maestro/curso',curso.ruta,'alumnos']" style="font-size:20px;">
              <img class="icon-nav mr-2" src="./../../../assets/icons/alumnos.svg">Alumnos
            </a>
            <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
              style="font-size:20px;" [routerLink]="['/maestro/curso',curso.ruta,'insignias']" style="font-size:20px;">
              <img class="icon-nav mr-2" src="./../../../assets/icons/insignia.svg">Insignias
            </a>
            <a *ngIf="curso.categoria=='Idiomas'"
              class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
              style="font-size:20px;" [routerLink]="['/maestro/curso/diario',curso.ruta]" style="font-size:20px;">
              <img class="icon-nav mr-2" src="./../../../assets/icons/diario.svg">Diario
            </a>
            <a class="list-group-item list-group-item-action btn-outline-dark btn-block text-left mat-elevation-z8"
              style="font-size:20px;" [routerLink]="['/maestro/curso/config',curso.ruta]" style="font-size:20px;">
              <img class="icon-nav mr-2" src="./../../../assets/icons/ajustes.svg">Ajustes
            </a>
          </mat-expansion-panel>
          <!--primer acordeon-->
        </div>
      </mat-accordion>


      <br>
      <button *ngIf="nuevoCurso" type="button" class="btn btn-success btn-lg text-dark"
        [routerLink]="['./curso-nuevo']">Crear nuevo
        curso</button>
      <br>
      <mat-divider></mat-divider>
      <button type="button" class="btn btn-primary letracursotitulo mx-3"
        [routerLink]="['/maestro/perfil/estado-cursos']">
        <b>Estado Cursos</b> <img class="icon-nav ml-2" src="./../../../assets/icons/status.svg"></button>
    </div>


  </div>


  <div class="col-md-8 ">
    <router-outlet></router-outlet>
  </div>
</div>
<br>
<!--Nuevo Curso-->
<div class="row col-md-12 p-0 m-0">
  <div class="col-md-12 px-0">

    <p class="h3 font-weight-bold text-center bg-warning text-dark text-center p-2">¿NUEVO CURSO?</p>
    <br>
    <!--Botones Paquetes-->
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-success btn-lg text-dark" [routerLink]="['./curso-nuevo']">Crear nuevo
        curso</button></div>
    <!--Cierre Botones Paquetes-->
  </div>
</div>
<br><br>