<br>
<br>
<br>
<br>
<br>
<div class="col-md-12 p-0">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="card col-md-3 descri mx-5 mb-2 descrinuevo">
            <div class="imgLiquid view overlay zoom z-depth-1 rounded mt-3" style="max-width:200px; height:150px;">
              <img class="card-img-top" src="http://www.lorempixel.com/500/500" max-width="200" height="150">
            </div>
            <div class="card-body">
              <h5 class="card-title text-wrap text-center">Base de datos II</h5>
              <p class="card-text d-inline-block text-truncate" style="max-width: 150px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptatibus, corrupti cupiditate ratione
                odio aspernatur numquam quidem, fugiat aut blanditiis praesentium deserunt? Ex facilis repellendus rerum
                ab earum nesciunt itaque?
              </p>
              <a class="btn btn-primary btn-sm" [routerLink]="['/curso',curso.ruta]">Ver curso</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>