<br>
<br>
<br>
<br>
<br>
<div class="col-md-12 p-0">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="card col-md-3 descri mx-4 mb-2 fondocard sombrabaja">
            <div class="imgLiquid view overlay zoom z-depth-1 rounded mt-3" style="max-width:200px; height:150px;">
              <img class="card-img-top" src="http://www.lorempixel.com/500/500" max-width="200" height="150">
            </div>
            <div class="card-body text-center px-1">
              <h5 class="card-title text-wrap text-center">Base de datos II</h5>
              <p class="card-text d-inline-block text-truncate mb-1" style="max-width: 150px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptatibus, corrupti cupiditate ratione
                odio aspernatur numquam quidem, fugiat aut blanditiis praesentium deserunt? Ex facilis repellendus rerum
                ab earum nesciunt itaque?
              </p>
              <p><b>$ 1500</b></p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <a href="" class="text-muted" data-toggle="tooltip" data-placement="top" title="Ver Curso"><i
                  class="fas fa-eye"></i></a>
              <a href="" class="text-muted" data-toggle="tooltip" data-placement="top" title="Quitar"><i
                  class="fas fa-trash-alt"></i></a>
            </div>
          </div>
          <div class="card col-md-3 descri mx-4 mb-2 fondocard sombrabaja">
            <div class="imgLiquid view overlay zoom z-depth-1 rounded mt-3" style="max-width:200px; height:150px;">
              <img class="card-img-top" src="http://www.lorempixel.com/500/500" max-width="200" height="150">
            </div>
            <div class="card-body text-center px-1">
              <h5 class="card-title text-wrap text-center">Base de datos II</h5>
              <p class="card-text d-inline-block text-truncate mb-1" style="max-width: 150px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptatibus, corrupti cupiditate ratione
                odio aspernatur numquam quidem, fugiat aut blanditiis praesentium deserunt? Ex facilis repellendus rerum
                ab earum nesciunt itaque?
              </p>
              <p><b>$ 1500</b></p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <a href="" class="text-muted" data-toggle="tooltip" data-placement="top" title="Ver Curso"><i
                  class="fas fa-eye"></i></a>
              <a href="" class="text-muted" data-toggle="tooltip" data-placement="top" title="Quitar"><i
                  class="fas fa-trash-alt"></i></a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <p class="h3 font-weight-bold text-center text-dark">Mi Carrito <i class="fas fa-shopping-cart"></i></p>
        <br>
        <div>
          <ul class="list-group">
            <li class="list-group-item descrinuevo">
              <div class="d-flex bd-highlight">
                <div class="mr-auto p-2 bd-highlight">Programación Web</div>
                <div class="p-2 bd-highlight">$ 2500</div>
              </div>
            </li>
            <li class="list-group-item descrinuevo">
              <div class="d-flex bd-highlight">
                <div class="mr-auto p-2 bd-highlight">Coreano III</div>
                <div class="p-2 bd-highlight">$ 1500</div>
              </div>
            </li>
          </ul>
          <br>
          <ul class="list-group">
            <li class="list-group-item descrinuevo">
              <div class="d-flex bd-highlight">
                <div class="mr-auto p-2 bd-highlight">Total</div>
                <div class="p-2 bd-highlight">$ 3000</div>
              </div>
            </li>
          </ul>
          <div class="text-center mt-3">
            <button type="button" class="btn btn-danger btn-lg">Pagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>