<br>
<br>
<br>
<br>
<br>
<div class="categorias container mx-auto">
  <!--No cursos-->
  <div class="col-md-12 p-2" *ngIf="listaCursos.length==0">
    <div class="card mb-12">
      <h3>No se encontró ningún curso. ¡Anímate a adquirir uno nuevo!</h3>
      <div class="text-center mt-3">
        <button type="button" class="btn btn-danger btn-lg" [routerLink]="['/']">Ver cursos</button>
      </div>
    </div>
  </div>
  <!--No cursos-->
</div>
<div class="col-md-12 p-0" *ngIf="listaCursos.length!=0">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="card col-md-3 descri mx-4 mb-2 fondocard sombrabaja" *ngFor="let curso of listaCursos">
            <div class="imgLiquid view overlay zoom z-depth-1 rounded mt-3" style="max-width:200px; height:150px;">
              <img class="card-img-top" [src]="curso.imagen" max-width="200" height="150">
            </div>
            <div class="card-body text-center px-1">
              <h5 class="card-title text-wrap text-center">{{curso.nombre}}</h5>
              <p class="card-text d-inline-block text-truncate mb-1" style="max-width: 150px;">
                {{curso.descripcion}}
              </p>
              <p><b>$ {{curso.precio}}</b></p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <a class="text-muted" data-toggle="tooltip" data-placement="top" title="Ver Curso"
                [routerLink]="['/curso', curso.ruta,'vista']" routerLinkActive="router-link-active"><i
                  class="fas fa-eye"></i></a>
              <a class="text-muted" data-toggle="tooltip" data-placement="top" title="Quitar"
                (click)="eliminar(curso.index)"><i class="fas fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p class="h3 font-weight-bold text-center text-dark">Mi Carrito <i class="fas fa-shopping-cart"></i></p>
        <br>
        <div>
          <ul class="list-group">
            <li class="list-group-item descrinuevo" *ngFor="let curso of listaCursos">
              <div class="d-flex bd-highlight">
                <div class="mr-auto p-2 bd-highlight">{{curso.nombre}}</div>
                <div class="p-2 bd-highlight">$ {{curso.precio}}</div>
              </div>
            </li>
          </ul>
          <br>
          <ul class="list-group">
            <li class="list-group-item descrinuevo">
              <div class="d-flex bd-highlight">
                <div class="mr-auto p-2 bd-highlight">Total</div>
                <div class="p-2 bd-highlight">$ {{total}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="total==0" class="text-center mt-3">
  <h1>¡Pagar ahora!</h1>
  <div #paypal></div>
</div>

<br>
<br>
<br>