<!--Clase-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header paqueteshome text-center text-white">
        <b>Clase {{clase}}: {{nombreClase}}</b>
      </div>
      <div class="container descridos">
        <div class="col-md-12">
          <mat-card>
            <div class="row container pl-5 mb-3">
              <div class="custom-control custom-switch">
                <input id="evaluacion" type="checkbox" [checked]="evaluacion" class="custom-control-input" [(ngModel)]="evaluacion"
                  (click)="cambiarEvaluacion()">
                <label class="custom-control-label h4 letrastar" for="evaluacion">Evaluación</label>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-card-header class="justify-content-center mb-2">
              <div class="col-md-7 text-right vertical-center">
                <div class="custom-control custom-switch">
                  <input id="video" type="checkbox" [checked]="video" class="custom-control-input" [(ngModel)]="video">
                  <label class="custom-control-label h4 letrastar" for="video">Video principal</label>
                </div>
              </div>
              <div class="col-md-5 text-right">
                <button mat-stroked-button (click)="recargarVideo()" data-toggle="tooltip" class="txtTodos"
                  data-placement="right" title="Si existen problemas con el vídeo, puedes recargarlo">Recargar Video
                  <img class="icon-remove" src="./../../../assets/icons/refrescar.svg"></button>
              </div>
            </mat-card-header>
            <br>
            <br>
            <div [hidden]="!video">
              <video oncontextmenu="return false" controlsList="nodownload" mat-card-image id='videoId' class='video-js'
                controls preload='auto' width='200' height='250' [poster]='portada'>
              </video>
              <mat-card-content>
                <p class="text-center">
                  Este video será el video principal de la clase.
                </p>
              </mat-card-content>
            </div>
            <mat-card-actions>
              <form [formGroup]="videoForm">
                <div class="col-md-8 offset-md-2 mb-2" [hidden]="!video">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Subir Video</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" formControlName="video"
                        (change)="seleccionarVideo($event)">
                      <label class="custom-file-label" for="inputGroupFile01">{{mensajeVideo}}</label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <h4 class="letrastar">Descripción:</h4>
                </div>
                <ckeditor required [config]="ckeConfig" debounce="500" formControlName="texto">
                </ckeditor>
                <mat-error>
                  <span *ngIf="!videoForm.get('texto').valid && videoForm.get('texto').touched">Agrega
                    una descripción del curso.</span>
                </mat-error>
                <div class="mt-3 text-center">
                  <button [disabled]="!videoForm.valid" color="letrasuccess" mat-stroked-button
                    (click)="subirVideo()">Guardar Video y/o Descripción <img class="icon-edit"
                      src="./../../../assets/icons/save.svg"></button>
                  <mat-progress-bar *ngIf="!finalizadoVideo" mode="determinate" [value]="porcentajeVideo">
                  </mat-progress-bar>
                </div>
              </form>
            </mat-card-actions>
          </mat-card>
        </div>
        <br>

        <div class="col-md-12 pb-2">
          <div class="container divisorbot">

            <div class="row container pl-5 mb-3">
              <div class="custom-control custom-switch">
                <input id="recursos" type="checkbox" [checked]="recursos" class="custom-control-input"
                  [(ngModel)]="recursos" (click)="cambiarRecurso()">
                <label class="custom-control-label h4 letrastar" for="recursos">Recursos</label>
              </div>
            </div>
            <div class="row">

              <div class="col-md-5 mb-3" *ngIf="recursos">
                <ul>
                  <li *ngFor="let recurso of listaRecursos; let i=index">
                    <a target="_blank" rel="noopener noreferrer"
                      [href]="recurso.urlRecurso">{{recurso.textoRecurso}}</a>
                    <button mat-mini-fab color="trans" (click)="editarRecurso(i)" class="ml-2"><img class="icon-edit"
                        src="./../../../assets/icons/edit.svg"></button>
                    <button mat-mini-fab color="trans" (click)="eliminarRecurso(i)" class="ml-2"><img class="icon-edit"
                        src="./../../../assets/icons/remover.svg"></button>
                  </li>
                </ul>
                <br>
                <button mat-stroked-button color="primary" (click)="addRecurso()" class="ml-4"><img
                    class="icon-edit mr-1" src="./../../../assets/icons/more.svg"> Agregar Nuevo</button>
              </div>

              <div class="col-md-7" *ngIf="mostrarFormRecurso">
                <form [formGroup]="recursosForm">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Subir Recurso</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" formControlName="urlRecurso"
                        (change)="seleccionarRecurso($event)">
                      <label class="custom-file-label" for="inputGroupFile01">{{mensajeRecurso}}</label>
                    </div>
                  </div>
                  <br>
                  <mat-form-field appearance="outline" class="field-login">
                    <mat-label>Nombre:</mat-label>
                    <input matInput placeholder="Ingresa el nombre del recurso:" required
                      formControlName="textoRecurso">
                    <mat-error>
                      <span
                        *ngIf="!recursosForm.get('textoRecurso').valid && recursosForm.get('textoRecurso').touched">Agrega
                        el nombre del recurso.</span>
                    </mat-error>
                  </mat-form-field>
                  <button [disabled]="!recursosForm.valid" mat-stroked-button (click)="subirRecurso()"
                    color="letrasuccess">Guardar <img class="icon-edit" src="./../../../assets/icons/save.svg"></button>
                  <mat-progress-bar *ngIf="!finalizadoRecurso" mode="determinate" [value]="porcentajeRecurso">
                  </mat-progress-bar>
                </form>
              </div>

            </div>

          </div>
        </div>
        <!--tarea-->
        <br>
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-12 pb-2 divisorbot">
              <div class="container">
                <div class="row container pl-5 mb-3">
                  <div class="custom-control custom-switch">
                    <input id="tarea" type="checkbox" [checked]="tarea" class="custom-control-input" [(ngModel)]="tarea"
                      (click)="cambiarTarea()">
                    <label class="custom-control-label h4 letrastar" for="tarea">Tarea/Evaluación</label>
                  </div>
                </div>
                <div class="row" *ngIf="tarea">
                  <div class="col-md-12">
                    <form [formGroup]="tareaForm">
                      <mat-form-field appearance="outline" class="field-login">
                        <mat-label>Descripción:</mat-label>
                        <textarea matInput placeholder="Agrega la descripción de la tarea" cdkTextareaAutosize
                          cdkAutosizeMinRows="10" cdkAutosizeMaxRows="15" formControlName="instruccion"></textarea>
                        <mat-error>
                          <span
                            *ngIf="!tareaForm.get('instruccion').valid && tareaForm.get('instruccion').touched">Agrega
                            una descripción de la tarea.</span>
                        </mat-error>
                      </mat-form-field>
                      <div class="text-center">
                        <button [disabled]="!tareaForm.valid" mat-stroked-button (click)="subirTarea()"
                          color="letrasuccess">Guardar Tarea<img class="icon-edit"
                            src="./../../../assets/icons/save.svg"></button>
                      </div>
                    </form>
                  </div>
                </div>

              </div>

            </div>

          </div>
          <!-- Respuestas -->
          <div class="card" id="respuesta">
            <div class="card-header paqueteshome text-center text-white">
              <b>
                Comentarios ({{infoClase.comentarios.length}})
              </b>
            </div>
            <div class="card-body">
              <div class="container">

                <!-- Respuestas -->
                <div class="card mb-12 descri mb-4 pl-2"
                  *ngFor="let respuesta of infoRespuestas | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                  <div class="row no-gutters">
                    <div class="col-md-2 px-2">
                      <div class="imgLiquidFill imgLiquid mt-4 " style="width:100px; height:100px;">
                        <img [src]="respuesta.foto" class="card-img rounded-circle sombrabaja" alt="Cinque Terre"
                          width="100" height="100">
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="card-body">
                        <h5 class="card-title"><a
                            [routerLink]="['/alumno/perfil-publico',respuesta.ruta]">{{respuesta.nombreCompleto}}</a>
                        </h5>
                        {{respuesta.comentario}}
                        <div class="p-2 d-flex justify-content-between txtTodos">
                          <p class="text-muted"> {{respuesta.fecha | date}}</p>
                          <button type="button" class="btn colorbtn" (click)="responder(i)">Responder</button>
                        </div>
                      </div>
                      <mat-divider> </mat-divider>
                      <!-- Respuesta al comentario -->
                      <div *ngFor="let resp of respuesta.respuestas">
                        <div class="row no-gutters">
                          <div class="col-md-2">
                            <div class="imgLiquidFill imgLiquid mt-3 " style="width:90px; height:90px;">
                              <img [src]="resp.foto" class="card-img rounded-circle sombrabaja" alt="Cinque Terre"
                                width="90" height="90">

                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="card-body">
                              <h5 class="card-title"><a
                                  [routerLink]="['/alumno/perfil-publico',resp.ruta]">{{resp.nombreCompleto}}</a>
                              </h5>
                              {{resp.comentario}}
                              <div class="p-2 bd-highlight txtTodos">
                                {{resp.fecha | date}}
                              </div>
                            </div>
                            <mat-divider> </mat-divider>
                          </div>
                        </div>
                      </div>
                      <!-- Respuesta al comentario -->
                      <div *ngIf="responderIndex==i">
                        <mat-form-field appearance="outline" class="field-login">
                          <textarea matInput placeholder="Agrega un comentario" cdkTextareaAutosize
                            cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10" [(ngModel)]="respuestaCom"></textarea>
                        </mat-form-field>

                        <div class="text-right pr-4 pb-3">
                          <button [disabled]="respuestaCom==''" type="button" class="btn colorbtn"
                            (click)="enviarRespuestaCom()">Enviar</button>
                          <button type="button" class="btn btn-danger" (click)="responderIndex=-1">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
                <!-- Respuestas -->
                <mat-divider></mat-divider>
              </div>
            </div>
          </div>
          <!-- Respuestas -->
          <div class="text-right m-2">
            <button mat-stroked-button color="warn" [routerLink]="['../../../../']">Cancelar</button>
          </div>

        </div>
      </div>
    </div>
    <br>
    <br>
    <!--Clase-->