.descridos {
  background-color: rgba(126, 124, 121, 0.068);
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}

.txtTodos {
  color: #3a383893;
  font-weight: bold;
}

.apartado {
  color: #aa8638;
}

.colorbtn {
  background-color: #17a2b8;
  border-color: #17a2b8;
}