.imgicon{
    width: 30px
  }

  .txtTodos{
    color: #3a383893;
    font-weight: bold;
  }


  .icon-check{
    width: 35px
  }

  .colorbtn{
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  .descri{
    background-color: rgba(126, 124, 121, 0.068); 
  
}
.consejos{
    font-size: .9rem;
}

.cuerpo{
    background-color: #083f477e;
  
  }

 