<div class="col-md-12" style="background: #f2f6f9">
    <div class="text-center vertical-center">
        <label class="h1">Resumen</label>
    </div>
    <mat-card>
        <div class="row">
            <div class="col-md-4 text-center">
                <img width="200" [src]=usuario.foto class="sombraimg mb-3">
                <br>
                <label class="h5">{{usuario.nombre}}</label>
                <br>
                <label class="h5">{{usuario.apPaterno}} {{usuario.apMaterno}}</label>
            </div>
            <div class="col-md-8">
                <mat-form-field appearance="outline" class="field-login">
                    <mat-label>Correo:</mat-label>
                    <input matInput placeholder="Ingresa tu correo" required [(ngModel)]="usuario.credencial.correo">
                    <mat-error>
                        <span *ngIf="usuario.credencial.correo==''">Agrega un correo</span>
                    </mat-error>
                </mat-form-field>
                <br>
                <label><span class="h6">Fecha de nacimiento: </span>{{usuario.fechaNac|date}}</label>
                <br>
                <label class="h6">Tipo de usuario:</label>
                <br>
                <div *ngIf="!(usuario.tipo[0].admin!=undefined || usuario.tipo[1].coord!=undefined)">
                    <ul>
                        <li *ngIf="usuario.tipo[3].alumno!=undefined">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" [checked]="usuario.tipo[3].alumno" class="custom-control-input"
                                    id="switchAlumno" (click)="cambiarEstado(usuario.tipo,3)">
                                <label class="custom-control-label" for="switchAlumno">Alumno</label>
                            </div>
                        </li>
                        <li *ngIf="usuario.tipo[2].maestro!=undefined">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" [checked]="usuario.tipo[2].maestro" class="custom-control-input"
                                    id="switchMaestro" (click)="cambiarEstado(usuario.tipo,2)">
                                <label class="custom-control-label" for="switchMaestro">Maestro</label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div *ngIf="(usuario.tipo[0].admin!=undefined || usuario.tipo[1].coord!=undefined)">
                    <mat-form-field appearance="outline" class="field-login">
                        <mat-label>Rol de Usuario:</mat-label>
                        <select matNativeControl [(ngModel)]="permisoUsuario"
                            (change)="cambiarEstado(usuario.tipo,0)">
                            <option value="0">Administrador</option>
                            <option value="1">Coordinador</option>
                        </select>
                    </mat-form-field>
                    <div class="row" *ngIf="permisoUsuario!=0">
                        <label class="h6 pr-2">Estatus:</label>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" [checked]="tempCoord" class="custom-control-input"
                                id="switch1" (click)="cambiarEstado(usuario.tipo,1)">
                            <label class="custom-control-label" for="switch1"></label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 text-center">
                      <button [disabled]="permitir" type="button" class="btn btn-success btn-md " (click)="guardar()">
                        <img class="icon-nav mr-1" src="./../../../assets/icons/agregar-user2.svg">
                        Guardar</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <button type="button" class="btn btn-danger btn-md" [routerLink]="['../../usuarios']">
                            <img class="icon-nav mr-1" src="./../../../assets/icons/error.svg">
                            Volver</button>
                    </div>
                  </div>
            </div>
        </div>
    </mat-card>
    <br>
    <br>
</div>