<header>
  <nav class="navbar navbar-light blue-grey lighten-5 navbar-expand-sm fixed-top scrolling-navbar img-posicion">
    <a class="nav-item active" [routerLink]="['/']">
      <img class="icon-nav-home" src="./../../../assets/icons/royal.png">
    </a>
    <div class="collapse navbar-collapse row col-md-12" id="navbarSupportedContent">
      <!--Categorias-->
      <div class="col-md-1 vertical-center nav-item active pl-4">
        <button mat-button [matMenuTriggerFor]="categorias" class="p-0">
          <img class="icon-nav" src="./../../../assets/icons/menu.svg">
          <p class="salto_pag mb-0">Categorías</p>
        </button>
        <mat-menu #categorias="matMenu" class="fondo-navbar">
          <button mat-menu-item [matMenuTriggerFor]="Tecnologias" [routerLink]="['/categoria/tecnología']">
            <i class="fas fa-laptop-code"></i>Tecnología
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item [matMenuTriggerFor]="Idiomas" [routerLink]="['/categoria/idiomas']">
            <i class="fas fa-language"></i> Idiomas
          </button>
        </mat-menu>
        <mat-menu #Tecnologias="matMenu">
          <button mat-menu-item *ngFor="let cat of categoriasTec">{{cat}}</button>
        </mat-menu>
        <mat-menu #Idiomas="matMenu">
          <button mat-menu-item *ngFor="let cat of categoriasLen">{{cat}}</button>
        </mat-menu>

      </div>

      <!--Categorias-->

      <!--Buscador-->
      <div class="col-md-6 vertical-center">
        <div class="input-group input-group-sm vertical-center">
          <input type="text" class="form-control my-auto ml-2" placeholder="Buscar Curso" [(ngModel)]="busqueda">
          <div class="input-group-prepend ml-3">
            <button mat-mini-fab color="primary" (click)="buscar()"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
      <!--Buscador-->

      <!--Comunidad-->
      <div class="col-md-1 vertical-center nav-item active">
        <button mat-button [matMenuTriggerFor]="comunidad" class="p-0">
          <img class="icon-nav" src="./../../../assets/icons/comunidad.svg">
          <p class="salto_pag mb-0">Comunidad</p>
        </button>
        <mat-menu #comunidad="matMenu" class="fondo-navbar">
          <button mat-menu-item [routerLink]="['/comunidad/tecnologia']">
            <i class="fas fa-laptop-code"></i>Tecnologías
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="['/comunidad/idiomas']">
            <i class="fas fa-language"></i> Idiomas
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="['/comunidad/preguntas/mis-preguntas']">
            <i class="fas fa-language"></i> Mis preguntas
          </button>
        </mat-menu>
      </div>
      <!--Comunidad-->

      <!--Carrito-->
      <div class="col-md-1 vertical-center nav-item active ">
        <button mat-button href="#" class="p-0">
          <img class="icon-nav" src="./../../../assets/icons/carrito.svg">
          <p class="salto_pag mb-0">Mi carrito</p>
        </button>
      </div>
      <!--Carrito-->

      <!--Inicio Sesión/Registro-->
      <div class="col-md-3 vertical-center" *ngIf="!logueado">
        <div class="btn-group btn-group-sm justify-content-right vertical-center ml-auto " role="group"
          aria-label="Basic example">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loginModal">Inicia
            sesión</button>
          <button type="button" class="btn tn btn b  btn-danger" data-toggle="modal"
            data-target="#regModal">Regístrate</button>
        </div>
      </div>

      <!--Inicio Sesión/Registro-->

      <!--Mis Cursos-->
      <div class="col-md-1 vertical-center d-flex text-center" *ngIf="logueado">

        <button class="p-0" mat-button [matMenuTriggerFor]="miscursos">
          <img class="icon-nav" src="./../../../assets/icons/cursos.svg">
          <p class="salto_pag mb-0">Mis Cursos</p>
        </button>
        <mat-menu #miscursos="matMenu" class="fondo-navbar">
          <div *ngFor="let curso of cursosAlumno">
            <button mat-menu-item [routerLink]="['/curso/',curso.ruta]">
              <img class="icon-nav pr-2" [src]="curso.imagen">{{curso.nombre}}
            </button>
            <mat-divider></mat-divider>
          </div>
          <button mat-menu-item [routerLink]="['/mis-cursos']">
            <i class="fas fa-language"></i>Mis cursos
          </button>
        </mat-menu>

      </div>
      <!--Mis Cursos-->

      <!-- Alertas-->
      <div class="col-md-1 vertical-center" *ngIf="logueado">
        <button mat-button [matMenuTriggerFor]="alertas" class="p-0">
          <img class="icon-nav" src="./../../../assets/icons/alertas.svg">
          <p class="salto_pag mb-0">Alertas</p>
        </button>
        <mat-menu #alertas="matMenu" class="fondo-navbar">
          <button mat-menu-item>
            <i class="fas fa-laptop-code"></i>Tecnologías
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <i class="fas fa-language"></i> Idiomas
          </button>
        </mat-menu>
      </div>
      <!-- Alertas-->

      <!--Mi perfil-->
      <div class="col-md-1 vertical-center" *ngIf="logueado">
        <button mat-button [matMenuTriggerFor]="miperfil" class="p-0">
          <img class="icon-nav" src="./../../../assets/icons/perfil-m.svg" *ngIf="sexo==2"><img class="icon-nav"
            src="./../../../assets/icons/perfil-h.svg" *ngIf="sexo==1"><img class="icon-nav"
            src="./../../../assets/icons/perfil-i.svg" *ngIf="sexo==3">
          <p class="salto_pag mb-0">{{usuario}}</p>
        </button>
        <mat-menu #miperfil="matMenu" class="fondo-navbar">
          <button mat-menu-item [routerLink]="['/perfil']">
            <i class="fas fa-user pr-1"></i>Mi Perfil
          </button>
          <button mat-menu-item [routerLink]="['/perfil/cuenta']">
            <i class="fas fa-at pr-1"></i>Cuenta
          </button>
          <button mat-menu-item [routerLink]="['/perfil/pagos']">
            <i class="fas fa-credit-card pr-1"></i>Métodos de Pago
          </button>
          <button mat-menu-item [routerLink]="['/perfil/historial']">
            <i class="fas fa-file-alt"></i> Historial de Compra
          </button>
          <button mat-menu-item [routerLink]="['/perfil/certificados']">
            <i class="fas fa-award"></i> Certificados
          </button>
          <button mat-menu-item [routerLink]="['/maestro']">
            <i class="fas fa-chalkboard-teacher"></i> Modo Maestro
          </button>
          <mat-divider></mat-divider>
          <a [href]="perfilPublico | safe: 'resourceUrl'" target="_blank" rel="noopener noreferrer">
            <button mat-menu-item>
              <i class="fas fa-external-link-alt"></i> ¡Comparte tu perfil!
            </button>
          </a>
          <button mat-menu-item (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
          </button>
        </mat-menu>
      </div>
      <!--Perfil-->
    </div>

    <!--Toggler button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <!--icono del toggler bar (las tres lienas que salen al compactar la página)-->
    </button>
    <!--Toggler button-->
  </nav>
</header>

<!--Modal Login-->
<div class="modal fade ventana-modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModal">¡Inicia sesión en tu cuenta!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="text-center" [formGroup]="logForm">
          <mat-form-field class="field-login">
            <input matInput placeholder="Correo" formControlName="logCorreo">
            <mat-error>
              <span *ngIf="!logForm.get('logCorreo').valid && logForm.get('logCorreo').touched">Agrega un
                correo</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field-login">
            <input matInput placeholder="Contrasenia" type="password" formControlName="logContrasenia">
            <mat-error>
              <span *ngIf="!logForm.get('logContrasenia').valid && logForm.get('logContrasenia').touched">Agrega una
                contraseña</span>
            </mat-error>
          </mat-form-field>
          <a href="#">¡Olvidé mi conraseña!</a>
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" [disabled]="!logForm.valid"
            (click)="login()">Inicia sesión</button>
        </form>
      </div>
      <div class="modal-footer">
        ¿Aún no tienes cuenta? <span><button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"
            data-toggle="modal" data-target="#regModal">Regístrate</button></span>
      </div>
    </div>
  </div>
</div>
<!--Modal Login-->

<!--Modal Register-->
<div class="modal fade ventana-modal" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regModal"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="regModal">¡Regístrate gratis!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Para acceder a los cursos, necesitarás crear una cuenta.</h6>
        <form class="text-center" [formGroup]="regForm">
          <mat-form-field class="field-login">
            <input matInput class="form-control" placeholder="Nombre(s)" formControlName="regNombre">
            <mat-error>
              <span *ngIf="regForm.controls.regNombre.errors!=null && regForm.controls.regNombre.touched">Agrega tu
                nombre</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field-login">
            <input matInput placeholder="Apellido Paterno" formControlName="regApPaterno">
            <mat-error>
              <span *ngIf="regForm.controls.regApPaterno.errors!=null && regForm.controls.regApPaterno.touched">Agrega
                tu
                apellido
                paterno</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field-login">
            <input matInput placeholder="Apellido Materno" formControlName="regApMaterno">
            <mat-error>
              <span *ngIf="regForm.controls.regApMaterno.errors!=null && regForm.controls.regApMaterno.touched">Agrega
                tu
                apellido
                materno</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field-login">
            <mat-label>Sexo</mat-label>
            <select matNativeControl required formControlName="regSexo">
              <option value=1>Hombre</option>
              <option value=2>Mujer</option>
              <option value=3>No especificar</option>
            </select>
          </mat-form-field>
          <mat-form-field class="field-login">
            <input matInput placeholder="Correo" formControlName="regCorreo">
            <mat-error>
              <span *ngIf="regForm.controls.regCorreo.errors!=null && regForm.controls.regCorreo.touched">Agrega tu
                correo</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field-login">
            <input matInput placeholder="Contraseña" type="password" formControlName="regContrasenia">
            <mat-error>
              <span
                *ngIf="regForm.controls.regContrasenia.errors!=null && regForm.controls.regContrasenia.touched">Agrega
                tu contraseña</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field-login">
            <input matInput placeholder="Confirmación" type="password" formControlName="regRepContrasenia">
            <mat-error>
              <span
                *ngIf="regForm.controls.regRepContrasenia.errors!=null && regForm.controls.regRepContrasenia.touched">Las
                contraseñas no coinciden</span>
            </mat-error>
          </mat-form-field>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" [disabled]="!regForm.valid"
            (click)="registrar()">Regístrate</button>
        </form>
      </div>
      <div class="modal-footer">
        ¿Ya tienes cuenta? <span><button type="button" class="btn btn-success btn-sm" data-dismiss="modal"
            data-toggle="modal" data-target="#loginModal">Inicia sesión</button></span>
      </div>
    </div>
  </div>
</div>
<!--Modal Register-->
<router-outlet></router-outlet>

<footer class="page-footer font-small stylish-color-dark pt-4">
  <div *ngIf="!logueado">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">¡REGÍSTRATE AHORA!</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#regModal">REGISTRAR</a>
      </li>
    </ul>
    <hr>
  </div>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://raise-technology.com/">Raise Technology</a>
  </div>
</footer>