<nav class="navbar fixed-top navbar-expand-lg navbar-black" style="background-color:black">
  <a class="nav-link" href="/">
    <img class="icon-nav-home" src="./../../../assets/icons/home.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> <!--icono del toggler bar (las tres lienas que salen al compactar la página)-->
  </button>
  <div class="card col-md-11">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <nav class="navbar mr-auto justify-content-between">
            <li class="nav-item active d-flex justify-content-start mr-md-5 text-center">
              <a class="nav-link" href="#">
                <img class="icon-nav" src="./../../../assets/icons/menu.svg"> <br>Categorías
              </a>
            </li>

            <form class="form-inline">
              <div class="form-group mx-sm-10 mb-4 mr-md-2">
                  <input class="form-control"  type="search" placeholder="Buscar curso..." aria-label="Search">
              </div>
              <button class="btn btn-outline-success mb-4" type="submit">Search</button>

            </form>
            
          </nav>
          <ul class="navbar-nav">
            <li class="nav-item active text-center mr-md-5">
              <a class="nav-link" href="#">
                <img class="icon-nav" src="./../../../assets/icons/comunidad.svg"><br>Comunidad
              </a>
            </li>
            <li class="nav-item active text-center mr-md-5">
              <a class="nav-link" href="#">
                <img class="icon-nav" src="./../../../assets/icons/carrito.svg"><br>Carrito
              </a>
            </li>
            <li class="btn-group justify-content-center vertical-center ml-auto " role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success">Inicia sesión</button>
              <button type="button" class="btn tn btn btn-danger">Regístrate</button>
            </li>
          </ul>
          
        </div>
  </div>
</nav>
<br><br><br><br><br><br><br>
<router-outlet></router-outlet>