<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="nav-link" href="/">
    <img class="icon-nav-home" src="./../../../assets/icons/home.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> <!--icono del toggler bar (las tres lienas que salen al compactar la página)-->
  </button>
  <div class="card collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active d-flex justify-content-start mr-md-5">
        <a class="nav-link" href="#">
          <img class="icon-nav" src="./../../../assets/icons/menu.svg">
        </a>
      </li>
      <li class="form-inline my-2 my-lg-0 pull-center mr-md-2">
        <input class="form-control block mr-sm-2"  type="search" placeholder="Buscar curso..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" href="#">
          <img class="icon-nav" src="./../../../assets/icons/comunidad.svg">
        </a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" href="#">
          <img class="icon-nav" src="./../../../assets/icons/carrito.svg">
        </a>
      </li>
      <div class="btn-group-sm justify-content-center vertical-center ml-auto " role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success">Inicia sesión</button>
          <button type="button" class="btn tn btn btn-danger">Regístrate</button>
        </div>
    </ul>
    
  </div>
</nav>
<router-outlet></router-outlet>