<div class="col-md-12 fondoadmin" >
  <div class="text-center vertical-center">
    <label class="h1">Mi Perfil</label>
  </div>

  <form>
    <mat-card>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="field-login">
              <mat-label>Nombre:</mat-label>
              <input matInput placeholder="Ingresa tu nombre" required>
              
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="field-login">
              <mat-label>Apellido Paterno:</mat-label>
              <input matInput placeholder="Ingresa tu Apellido Paterno:" required >
            
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="field-login">
              <mat-label>Apellido Materno:</mat-label>
              <input matInput placeholder="Ingresa tu Apellido Materno:" required >
             
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="field-login">
              <mat-label>Correo:</mat-label>
              <input matInput placeholder="Ingresa tu correo" required>
              
            </mat-form-field>
          </div>
          <div class="col-md-6 text-center">

            <mat-form-field appearance="outline">
              <mat-label>Fecha de Nacimiento:</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Elige una fecha" required >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="field-login">
              <mat-label>Rol de Usuario:</mat-label>
              <select matNativeControl required>
                <option value="0">Administrador</option>
                <option value="1">Coordinador</option>
                <option value="2">Maestro</option>
                <option value="3">Alumno</option>
              </select>
            </mat-form-field>
          </div>
          <div class="col-md-8 vertical-center field-login2">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Subir Foto</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">{{archivopath}}</label>
                
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <button type="button" class="btn btn-success btn-md " (click)="alta()">
              <img class="icon-nav mr-1" src="./../../../assets/icons/agregar-user2.svg">
              Guardar y Mostrar</button>
          </div>
          <div class="col-md-6 text-center">
            <button type="button" class="btn btn-danger btn-md" [routerLink]="['../usuarios']">
              <img class="icon-nav mr-1" src="./../../../assets/icons/error.svg">
              Cancelar</button>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
  <br>
</div>
