<div class="col-md-12 fondoadmin">
  <div class="text-center vertical-center">
    <label class="h1">Mi Perfil</label>
  </div>

  <form>
    <mat-card>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="field-login">
              <mat-label>Nombre:</mat-label>
              <input matInput placeholder="Ingresa tu nombre" required>

            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="field-login">
              <mat-label>Apellido Paterno:</mat-label>
              <input matInput placeholder="Ingresa tu Apellido Paterno:" required>

            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="field-login">
              <mat-label>Apellido Materno:</mat-label>
              <input matInput placeholder="Ingresa tu Apellido Materno:" required>

            </mat-form-field>
          </div>
        </div>
        <div class="row p-0">
          <p class="p-0 m-0 ml-3">Foto de Perfil:</p>
        </div>
        <div class="row">
          <div class="col-md-7 vertical-center">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Subir Foto</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">{{archivopath}}</label>

              </div>
            </div>
          </div>
          <div class="col-md-5 text-center">
            <mat-form-field appearance="outline">
              <mat-label>Fecha de Nacimiento:</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Elige una fecha" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <!--Enlaces-->
        <div class="row p-0">
          <div class="col-md-6">
            <p class="p-0 m-0 ml-3">Enlaces:</p>
          </div>
          <div class="col-md-6 text-center">
            <p class="p-0 m-0 ml-3">Resumen de CV:</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 mr-3">
              <div class="row">
                <mat-form-field appearance="outline" class="field-login">
                  <mat-label>Página Web:</mat-label>
                  <input matInput placeholder="(Http(s)://..)" required>
                </mat-form-field>
              </div>

              <!--FB-->
              <div class="row">
                <div class="input-group input-group-sm vertical-center">
                  <img class="icon-nav" src="./../../../assets/icons/fb.svg">
                  <div class="col-md-11 vertical-center">
                    <mat-form-field appearance="outline" style=" margin-bottom: -1.25em">
                      <mat-label>Facebook:</mat-label>
                      <input matInput placeholder="(http://www.facebook.com/)" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>


              <!--FB cierre-->
              <!--Linked-->
              <div class="row ">

                <div class="input-group input-group-sm vertical-center">
                  <img class="icon-nav" src="./../../../assets/icons/link.svg">
                  <div class="col-md-11 vertical-center">
                    <mat-form-field appearance="outline" style=" margin-bottom: -1.25em">
                      <mat-label>Linkedin</mat-label>
                      <input matInput placeholder="(http://www.linkedin.com/)" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!--Linked cierre-->
              <!--Youtube-->
              <div class="row">
                <div class="input-group input-group-sm vertical-center">
                  <img class="icon-nav" src="./../../../assets/icons/yt.svg">
                  <div class="col-md-11 vertical-center">
                    <mat-form-field appearance="outline" style=" margin-bottom: -1.25em">
                      <mat-label>Youtube:</mat-label>
                      <input matInput placeholder="(http://www.youtube.com/)" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="col-md-5 ml-4">
              <mat-form-field appearance="outline" class="field-login2">
                <mat-label>CV:</mat-label>
                <textarea matInput placeholder="Agrega un resumen de tu cv" cdkTextareaAutosize
                  cdkAutosizeMinRows="4" cdkAutosizeMaxRows="10"></textarea>
              </mat-form-field>
            </div>

          </div>

          <!--Youtube cierre-->

          <br>
          <div class="row">
            <div class="col-md-6 text-center">
              <button type="button" class="btn btn-success btn-md " (click)="alta()">
                <img class="icon-nav mr-1" src="./../../../assets/icons/guardar.svg">
                Guardar</button>
            </div>
            <div class="col-md-6 text-center">
              <button type="button" class="btn btn-danger btn-md" [routerLink]="['../usuarios']">
                <img class="icon-nav mr-1" src="./../../../assets/icons/error.svg">
                Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</div>
<br>