.mat-divider{
    border-top-width: 2px;
    border-top-style: dashed;

  }
.divisor{
    border-right: 3px solid #ddd;
}
 

.icon-check{
  width: 20px
}

.text-check{
  color: #aa8638;
  font-weight: bold; 
  font-size: 1.3rem;
}