<br>
<br>
<br>
<br>
<div class="col-md-12 p-0">
  <div class="container-fluid">
    <div class="row">
      <br>
      <div class="col-md-2 divisor container">
        <h5><b>Royal Language</b></h5>
        <div class="input-group input-group-sm vertical-center">
          <mat-checkbox><img class="icon-check" src="./../../../assets/icons/royal.png">
            <span class="text-check">Royal</span></mat-checkbox>
        </div>

      </div>
      <div class="col-md-9 container ml-2">
        <br>
        <mat-divider></mat-divider>
        <div class="col-md-12 p-2" *ngFor="let curso of listaCursos | paginate: { itemsPerPage: 5, currentPage: p }">
          <h4 class="pl-2"><b>{{curso.nombreCompleto}}</b></h4>
          <div class="card mb-12 descri">
            <div class="row no-gutters">
              <div class="col-md-2">
                <img [src]="curso.imagen" class="card-img m-2 sombrabaja redondear">
              </div>
              <div class="col-md-10">
                <div class="card-body ml-3">
                  <h5 class="card-title row">
                    <div class="col-md-10">
                      {{curso.descripcionCurso}}
                    </div>
                    <div class="col-md-2">
                      <div class="input-group input-group-sm vertical-center fondoroyal sombrabaja text-center">
                        <img class="input-group-prepend icon-check ml-2" src="./../../../assets/icons/royal.png">
                        <p class="input-group-prepend subtitulo mb-0 ml-1">Royal</p>
                      </div>
                    </div>
                  </h5>
                  <div class="row">
                    <div class="col-md-4 pt-2">
                      <p class="card-text">{{curso.subcategoria}}</p>
                    </div>
                    <div class="col-md-8">
                      <bar-rating [(rate)]="ratingGeneral" [max]="5" [readOnly]="true"></bar-rating>
                    </div>
                  </div>
                  <div class="row justify-content-between">
                    <div class="col-4">
                      <p class="card-title">${{curso.precio}}</p>
                    </div>
                    <div class="col-4">
                      <a class="btn btn-success" [routerLink]="['/curso',curso.ruta,'vista']">Ir al curso</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <mat-divider></mat-divider>
        </div>
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
        <div class="col-md-12 p-2" *ngIf="listaCursos.length==0">
          <div class="card mb-12">
            <h3>No se encontró ningún resultado. Asegurate de haber usado acentos.</h3>
          </div>
          <br><br><br> <br><br><br> <br><br><br> <br><br><br>
          <br><br><br>
        </div>
      </div>

    </div>

  </div>
</div>
<br>