<div class="text-center vertical-center" style="background: #f2f6f9">
    <label class="h3 letracursotitulo"><b>Lista de Usuarios</b></label>
</div>
<div class="row">
    <div class="col-md-7">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        </mat-form-field>
    </div>
    <div class="col-md-5 text-right">
        <button type="button" class="btn btn-success btn-md " [routerLink]="['../nuevo-usuario']">
            <img class="icon-nav" src="./../../../assets/icons/agregar-user2.svg">
            NUEVO USUARIO</button>
    </div>

</div>
<div class="row">
    <div class="col-md-12">

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Columna imagen -->
                <ng-container matColumnDef="img">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto </th>
                    <td mat-cell *matCellDef="let row"><img width="50" [src]="row.img" alt=""> </td>
                </ng-container>

                <!-- Columna nombre -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre(s) </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                </ng-container>

                <!-- Columna apellidos -->
                <ng-container matColumnDef="apellidos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                    <td mat-cell *matCellDef="let row"> {{row.apellidos}} </td>
                </ng-container>

                <!-- Columna tipo -->
                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                    <td mat-cell *matCellDef="let row">

                        <div *ngIf="row.tipo[0].admin==true">
                            Administrador
                        </div>
                        <div *ngIf="row.tipo[1].coord!=undefined">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" [checked]="row.tipo[1].coord" class="custom-control-input"
                                    [id]="'switchCoord'+row.id" (click)="cambiarEstado(row.id,row.tipo,1)">
                                <label class="custom-control-label" [for]="'switchCoord'+row.id">Coordinador</label>
                            </div>
                        </div>
                        <div *ngIf="row.tipo[0].admin==undefined && row.tipo[1].coord==undefined">
                            <div class="custom-control custom-switch" *ngIf="row.tipo[2].maestro!=undefined">
                                <input type="checkbox" [checked]="row.tipo[2].maestro" class="custom-control-input"
                                    [id]="'switchMaestro'+row.id" (click)="cambiarEstado(row.id,row.tipo,2)">
                                <label class="custom-control-label" [for]="'switchMaestro'+row.id">Maestro</label>
                            </div>
                            <div class="custom-control custom-switch" *ngIf="row.tipo[3].alumno!=undefined">
                                <input type="checkbox" [checked]="row.tipo[3].alumno" class="custom-control-input"
                                    [id]="'switchAlumno'+row.id" (click)="cambiarEstado(row.id,row.tipo,3)">
                                <label class="custom-control-label" [for]="'switchAlumno'+row.id">Alumno</label>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Columna Editar -->
                <div class="text-center">
                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-mini-fab color="primary" (click)="configUsuario(row.id)"><img
                                    class="icon-opcion" src="./../../../assets/icons/edit.svg"></button>
                        </td>
                    </ng-container>
                </div>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

    </div>
</div>